    <header class="header-main">
        <nav class="primary-nav for-desktop">
                    <ul class="cover-outer mb-0">
                        <li> <a href="/for-companies">For Companies</a> </li>

                        <li> <a href="/jobs">Jobs</a> </li>

                        <li> <a href="/events">Events</a> </li>

                        <li> <a href="/hostel">Hostels</a></li>

                        <li> <a href="/masters">Masters</a></li>

                        <li>
                                <a href="/roadmap">Roadmap</a>
                            </li>

                        <li><a href="/faq">FAQs</a></li>

                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>

                </nav>
            
        <div class="cc-container">
             <a class="logo" href="/">
                    <img  src="../../../assets/Images/Logo.png" alt="Logo">
                    
                </a>
                <div class="hamburger">
                    <a href="javascript:void(0);">
                        <i class="material-icons">dehaze</i>
                    </a>
                </div>
                <section class="navigation-outer">
                    <div class="hamburger-close">
                        <a href="javascript:void(0);">
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                    <nav class="primary-nav for-mobile mt10">
                        <ul>
                            <li> <a href="#">For Companies</a> </li>

                            <li> <a href="#">Jobs</a> </li>

                            <li> <a href="#">Events</a> </li>

                            <li> <a href="#">Hostels</a></li>

                            <li> <a href="#">Master</a></li>

                            <li>
                                <a href="/roadmap">Roadmap</a>
                            </li>

                            <li><a href="/faq">FAQs</a></li>

                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>

                    </nav>

                    <nav class="primary-nav-2">
                        <ul>

                            <li>
                                <a href="/about-us">About Us</a>
                            </li>
                            <li>
                                <a href="/course">Courses</a>
                            </li>

                            

                             <li>
                                <a href="/student-life">Student Life</a>
                            </li>


                            <li>
                                <a href="/career-services">Career  </a>
                            </li>

                            <li>
                                <a href="/research">Research</a>
                            </li>

                            
                            
                            {{!-- <li>
                                <a href="/contact-us">Contact Us</a>
                            </li> --}}

                            <li>
                                <a href="#" target="_blank" class="apply-btn">APPLY NOW
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="floatDownloadBrochure">
                                    <span>Download
                                        <br> Brochure
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>



 
             
      </div>

     
{{!-- 
        <section>
            <div class="container">
                <div class="row">
                    <div>                         
                            <p class="header-para-text">Post Graduate Programme <br>
                                in Advanced Computing</p>                    
                    </div>

                 

                      <div class="schedule-timing">
                         <ul class="left-ico-section pl25">
                                <li> <i class="material-icons"> schedule </i> </li>

                                <li class="ml10">
                                    <span class="grey-clr">DURATION</span>
                                    <p class="header-para-text">12 months</p>
                                </li>
                            </ul>
                    </div>

                      <div class="schedule-timing">
                         <ul class="left-ico-section pl25">
                                <li> <i class="material-icons"> schedule </i> </li>

                                <li class="ml10">
                                    <span class="grey-clr">DURATION</span>
                                    <p class="header-para-text">12 months</p>
                                </li>
                            </ul>
                    </div>

                      <div class="schedule-timing">
                         <ul class="left-ico-section pl25">
                                <li> <i class="material-icons"> schedule </i> </li>

                                <li class="ml10">
                                    <span class="grey-clr">DURATION</span>
                                    <p class="header-para-text">12 months</p>
                                </li>
                            </ul>
                    </div>

                      <div class="schedule-timing">
                         <ul class="left-ico-section pl25">
                                <li> <i class="material-icons"> schedule </i> </li>

                                <li class="ml10">
                                    <span class="grey-clr">DURATION</span>
                                    <p class="header-para-text">12 months</p>
                                </li>
                            </ul>
                    </div>
                    
                </div>
            </div>
        </section> --}}
    </header>