<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="icon" href="" type="image/x-icon">  {{> headers/main }}

<body>

  <section class="main-section">
    {{> menu/main }}
      {{{body}}}

</body>

</html>