<div class="cover-outer">

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Home for visionaries and innovators <br>
                        <span class="black-clr">Advanced Computing</span>
                    </h5>
                    <p class="header-para-text">Grooming Tech-Leaders at India's First Institute offering<br> Post
                        Graduation in Advanced Computing Technologies<br> Through Applied Research. </p>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

    <section class="grey-bg CoursePG ptb30 cover-outer">
        <div class="container">
            <div class="row">
                <div class="right-border-content">
                    <p class="header-para-text">Post Graduate Programme <br>
                        in Advanced Computing</p>
                </div>
                <ul>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons">  schedule  </i>
                            <div class="ml10">
                                <span class="grey-clr">DURATION</span>
                                <p class="header-para-text">12 months</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons"> location_on </i>

                        <div class="ml10">
                            <span class="grey-clr">LOCATION</span>
                            <p class="header-para-text">Gurugram</p>
                        </div>
                    </div>
                    </li>
                   <li>
                       <div class="left-ico-section">
                        <i class="material-icons"> watch </i>
                         <div class="ml10">
                            <span class="grey-clr">FORMAT</span>
                            <p class="header-para-text">Full Time</p>
                        </div>
                    </div>
                   </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons">event </i>

                        <div class="ml10">
                            <span class="grey-clr">COMMENCEMENT DATE</span>
                            <p class="header-para-text">August 2021</p>
                        </div>
                    </div>
                    </li>
                    
                    
                </ul>



            </div>


        </div>
</div>
</section>








<section class="section-3 cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="heading-large"> Core</div>

        <div class="cover-outer pb60">
            <ul class="align-space-between Concen-CourseOuter">
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"> <img src="../assets/Images/icons/Software-Eng-ico.png" alt=""> </figure>
                        <div class="ml10">
                            <h6 class="text-medium">Software <span>Engineering</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Product-develop-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Product <span> Development</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/design-think-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Design<span> Thinking</span> </h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="heading-large cover-outer"> Concentrations <span class="heading-large-light">(Any 2)</span> </div>

        <div class="cover-outer">
            <ul class="align-space-between Concen-CourseOuter">
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/artificial-intelligence-ico.png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Artificial <span> Intelligence </span> <br> Systems </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/robotic-arm-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Robotics </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Analytics-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Advanced-Data </span> <br> Analytics </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Machine-learning-ico (2).png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Machine</span> Learning </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/cyber-security-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Cyber</span> Security </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/distributed-blockchain-ico.png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Distributed <span> Computing<br> & Blockchains </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/lot-hardwork-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> IoT & Hardware </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/computer-Vision-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Computer <span>Vision </span> <br> and Graphics </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/bio-computation-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Bio </span> Computation </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Humar-compute-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Human-Computer <span>Interaction</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Pattern-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Pattern <span> Recognition, <br> Neural</span> Networks & <br>
                                <span> Deep </span> Learning
                            </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/cryptography-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Cryptography </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Software-Eng-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Software for <span> Financial Engineering </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/technology-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Technology </span> ventures </h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>





    </div>

</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">ADVISORS</div>
                <div class="heading-large mb15"> Board of Advisors</div>

            </div>

            <div class="cover-outer masters-section home-master-section" id="boardOfAdvisorDiv">

            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10"> MASTERS</div>
                <div class="heading-large mb15"> Our Masters</div>

            </div>

            <div class="cover-outer masters-section home-master-section" id="isMasterDiv">

            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light">CAMPUS</div>
                <div class="heading-large mT5 mb10"> Urban Campus</div>
                <p class="para-text">An ideal campus located in the heart of one of India’s biggest Coporate Hubs in
                    Gurugram surrounded by Fortune 500 companies provides students the perfect opportunity to immerse
                    themseves in the corporate world and build an extensive network not just inside but around the
                    campus.
                </p>
            </div>

        </div>
    </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light">PROGRAMME</div>
                <div class="heading-large mT5 mb10"> Staying Ahead and How</div>
                <p class="para-text">The program is uniquely designed to ensure hands-on practice-based learning in
                    highly specific and niche domains, through professional consulting projects, real-life product
                    development, hackathons, and novel research. </p>
            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">1. Courses Led by Top Industry Masters</div>
                <p class="para-text mb25">The courses are led by industry leaders in internship style classrooms to
                    invite expertise from the field right into the class. These courses are designed by a
                    collaborative effort between industry leaders and ace academicians to impart the best of both
                    worlds.
                    Meet some of our Masters:</p>
            </div>


            <div class="cover-outer">
                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Dummy Masters’
                    Portfolio</p>
            </div>


            <div class="cover-outer pt80">
                <div class="medium-heading mb15">2. Product Development Led Approach</div>
                <p class="para-text mt15 mb15">Students learn to build actual products within a protected and guided
                    environment getting an opportunity to connect the dots between theory and practice.
                </p>

                <ul class="align-in-row three-card-section">
                    <li class="mr30">
                        <div class="right-ico-box">
                            <img src="../assets/Images/icons/Consulting-project-ico.png" alt="">
                            <div class="medium-heading mb15 mt15">Consulting <br> Projects</div>
                            <p class="para-text">Live projects from the <br> Industry to help</p>
                        </div>
                    </li>

                    <li class="mr30">
                        <div class="right-ico-box">
                            <img src="../assets/Images/icons/hackathons-ico.png" alt="">
                            <div class="medium-heading mb15 mt15">Hackathons</div>
                            <p class="para-text">Thriving on healthy competition</p>
                        </div>
                    </li>

                    <li class="mr30">
                        <div class="right-ico-box">
                            <img src="../assets/Images/icons/product-develop-focus-ico.png" alt="">
                            <div class="medium-heading mb15 mt15">Product Development Focus</div>
                            <p class="para-text">Product Development Focus</p>
                        </div>
                    </li>
                </ul>




            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">3. Research and IP Creation </div>
                <p class="para-text mt15">Interdisciplinary hubs for research in advanced computer science </p>

                <div class="cover-outer research-ip mt20">
                    <ul class="align-in-row  Concen-CourseOuter">
                        <li>
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Center-platform-reserch-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Center for Platforms Research</div>

                            </div>
                        </li>

                        <li>
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/center-business-model-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Center for New Business Model</div>
                                <p class="para-text mt15">With the coming about of SaaS and PaaS</p>
                            </div>
                        </li>

                        <li>
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/vr&ai-center-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">VR & AI Centres</div>
                                <p class="para-text mt15">Businesses are moving from basic Tech to incorporating AI and
                                    VR and
                                    giving consumers an experience before they buy a product.</p>
                            </div>
                        </li>
                        <li>
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/innovation-center-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Innovation Centres</div>
                                <p class="para-text mt15">To study and work on up and coming technologies</p>
                            </div>
                        </li>

                        <li>
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/system-society-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Systems and Society</div>
                                <p class="para-text mt15">Using systems to bring about change in society.</p>
                            </div>
                        </li>


                    </ul>
                </div>

            </div>

            <div class="cover-outer mt70">
                <div class="medium-heading mb15">4. Building for Real Impact: </div>
                <p class="para-text">As a capstone project, students get to pick a venture or community and use
                    technology to create an impact within that sector or community.</p>
            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">5. Venture Facilitation Cell: </div>
                <p class="para-text">The VFC helps students give wings to their idea or product by providing
                    services to foster entrepreneurship.</p>
            </div>


            <div class="cover-outer left-border-remove mt10">

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/access-master-ico.png" alt="">
                            <p class="heading-medium mt15">Access to resources</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/mentorship-ico.png" alt="">
                            <p class="heading-medium mt15"> Mentorship </p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/legal&account-clinic.png" alt="">
                            <p class="heading-medium mt15">Legal and Accounts Clinic</p>
                        </div>
                    </li>



                    <li>
                        <div class="left-border-sqaure-box ">
                            <img src="../assets/Images/icons/fundraising-clinic-ico.png" alt="">
                            <p class="heading-medium mt15">Fundraising Clinic</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">CAREER</div>
                <div class="heading-large mb15">Career Services</div>
                <p class="para-text">The Career Services Department at SMAC works on grooming the students to ensure
                    that students are ready for their dream jobs/ roles by equipping them with necessary skills,
                    mapping them to the right mentors and helping them build a personal brand. Facilities under
                    Career Services: </p>
            </div>

            <div class="cover-outer">

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/carrer-counselling-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/one-on-one-mentor-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/skill-development-prog-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/personal-branding-resume-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>& Resume Building</p>
                        </div>
                    </li>
                </ul>



            </div>

        </div>
    </div>
</section>

<section class="cover-outer smac-shack pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">SMAC</div>
                <div class="heading-large mb15">SMAC-shack</div>
                <p class="para-text">The alumni network of SMAC is a close knit community of tech enthusiasts who
                    uplift each other to grow and explore possibilities together. </p>
            </div>

            <div class="cover-outer">

                <ul class="align-in-row mt20 Concen-CourseOuter">
                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/lifelong-memship-union-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Lifelong Membership of the Union</div>
                            <p class="para-text mt15">Alumni can enroll into 1 classroom course of their choice
                                every year after they graduate.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/psychological-couselling-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Psychological Counselling</div>
                            <p class="para-text mt15">Focus on personal growth and holistic development in a group
                                and as an individual.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/resourceful-alumni-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner, intellectual or
                                artist and is duty-bound to support the others throughout their lives.</p>
                        </div>
                    </li>
                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/carrer-enablement-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Career <br> Enablement</div>
                            <p class="para-text mt15">Our corporate outreach facilitates on-campus and off-campus
                                recruitment for full time as well as internship roles at Fortune 500 companies, as
                                well as funded startups</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/access-master-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Access to <br> Masters</div>
                            <p class="para-text mt15">Alumni are an integral part of the community and get access to
                                all our masters’ 1-1 office hours for lifelong business or personal counseling.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/cosworking-space-networking-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Coworking-Space & Networking Dinners</div>
                            <p class="para-text mt15">Alumni get access to a premium coworking space and a standing
                                invitation to all networking dinners on our campus.</p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">FORM</div>
                <div class="heading-large mb15">Have More Questions?</div>
                <div class="heading-form mb10"> Get in Touch with us:</div>
            </div>



            <form id="my_form" class="masterForm">
                <div class="form-group">
                    <label>Name
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">mail_outline</i>
                        <input type="email" class="form-control" onblur="validateEmail(this)"
                            placeholder="john.doe@gmail.com" id="email" name="email">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                </div>
                <div class="form-group form-text">
                    <label> Email Address
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">person_outline</i>
                        <input type="text" onblur="validateName(this)" class="form-control" placeholder="john" id="name"
                            name="name">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons"> call </i>
                        <input type="tel" class="form-control" maxlength="10" id="mobile" onblur="validateMobile(this)"
                            placeholder="989898998" name="mobile">
                    </div>
                    <span id="mobileValidation" class="msg-error"></span>
                </div>
                <div class="form-group">
                    <label>Question?
                        <sup class="text-danger">*</sup>
                    </label>
                    {{!-- <div class="input-group">
                        <i class="material-icons">message</i>
                        <textarea class="form-control msg-textarea" id="message" onblur="validateMessage(this)"
                            placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div> --}}
                    <div class="input-group">
                        <i class=" material-icons">message</i>
                        <textarea class="form-control msg-textarea pr25 pl25" id="message"
                            onblur="validateMessage(this)" placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div>
                </div>

                <div class="form-group btn-outer mb0">
                    <button type="submit" class="nav-btn next">APPLY NOW</button>
                </div>

                <div id="result"></div>

            </form>



        </div>
    </div>
</section>












<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">EVENTS</div>
                <div class="heading-large mb15">Events this week</div>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row two-card-section">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between viewM-outer mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="align-in-row two-card-section mt40">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">23 November, 2020</span>
                                <p class="small-heading mt10">Full Stack Developer Roadmap 2021 how to get Fast
                                    Development ?</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
</div>


<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>




<script type="text/javascript">
    var allBoardAdvisor = [];
    getAllBoardAdvisorM();
    function getAllBoardAdvisorM() {

        $.ajax({

            url: `{{apiBaseURL}}/api/isBoardMasters`,

        }).done(function (response) {
            console.log("response##############", response)
            if (response.IsSuccess == true) {
                allBoardAdvisor = response.Data;
                bindBoardAdvisors(allBoardAdvisor)

            }
        });
    }
    function bindBoardAdvisors(board) {
        var bindBoardData = []
        board.forEach((data) => {
            console.log("data...", data)
            bindBoardData += `<div class="masters-long-box mr20">
                    <img src=${data.image} alt=${data.image}>
                    <div class="heading-medium mt20">${data.name}</div>
                    <p class="master-post-text mt10">${data.info.title}</p>
                </div>`
        })
        $('#boardOfAdvisorDiv').html(bindBoardData)

    }
    var allMaster = [];
    getAllMaster();
    function getAllMaster() {

        $.ajax({

            url: `{{apiBaseURL}}/api/isMasterMasters`,

        }).done(function (response) {
            if (response.IsSuccess == true) {
                allMaster = response.Data;
                bindMaster(allMaster)

            }
        });
    }
    function bindMaster(master) {
        var bindMasterData = []
        master.forEach((data) => {
            console.log("data...", data)
            bindMasterData += ` <div class="masters-long-box mr20">
                    <img src=${data.image} alt=${data.image}>
                    <div class="heading-medium mt20">${data.name}</div>
                    <p class="master-post-text mt10">${data.info.title}`
            if (data.info.description) {
                bindMasterData += `<br>${data.info.description}`
            }
            bindMasterData += `</p></div>`
        })
        $('#isMasterDiv').html(bindMasterData)

    }


    $(document).ready(function () {
    $('.primary-nav-2').find('a').each(function () {

      if ($(this).attr('href') == "/about-us") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav').find('a').each(function () {
            $(this).removeClass('active')
    });
    

  });
</script>
