<div class="cover-outer">

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Staying Ahead of Our <br> Time <br>
                        <span class="black-clr">Advanced Computing</span>
                    </h5>
                    <p class="header-para-text">Grooming Tech-Leaders at India's First Institute offering Post
                        Graduation in Advanced Computing Technologies Through Applied Research. </p>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

      <section class="grey-bg CoursePG ptb30">
        <div class="container">
            <div class="row">
                <div class="right-border-content">
                    <p class="header-para-text">Post Graduate Programme <br>
                        in Advanced Computing</p>
                </div>
                <ul>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons">  schedule  </i>
                            <div class="ml10">
                                <span class="grey-clr">DURATION</span>
                                <p class="header-para-text">12 months</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons"> location_on </i>

                        <div class="ml10">
                            <span class="grey-clr">LOCATION</span>
                            <p class="header-para-text">Gurugram</p>
                        </div>
                    </div>
                    </li>
                   <li>
                       <div class="left-ico-section">
                        <i class="material-icons"> watch </i>
                         <div class="ml10">
                            <span class="grey-clr">FORMAT</span>
                            <p class="header-para-text">Full Time</p>
                        </div>
                    </div>
                   </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons">event </i>

                        <div class="ml10">
                            <span class="grey-clr">COMMENCEMENT DATE</span>
                            <p class="header-para-text">August 2021</p>
                        </div>
                    </div>
                    </li>
                    
                    
                </ul>



            </div>


        </div>
</div>

  <section class="cover-outer smac-shack pt80 pb80 ">
        <div class="container pl350">
            <div class="row">

                <div class="cover-outer">
                    <div class="heading-light mb10">CAREER</div>
                    <div class="heading-large mb15">Career Support</div>
                    <p class="para-text">During the 12 month program, the team not only equips the students with the latest
                         technologies but also focuses <br> on making them ready to step into the industry by ticking vital bullet
                          points for their dream job/ role. </p>
                </div>

                <div class="medium-heading mt30">1. Students Look Forward to </div>

                  <div class="long-box-left-icon mt30">
            
                
                    
                            <div class="long-box-career">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Coaching and Counselling</div>
                                <p class="para-text mt15">Round the year access to professional career coaching and counselling.</p>
                            </div>

                            
                            <div class="long-box-career">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Personalised Skill Development Plan</div>
                                <p class="para-text mt15">KSA Assessments, Skill-gap analysis, and career goal assessment to work on a personalised skill development plan.</p>
                            </div>

                            
                            <div class="long-box-career">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">One-on-One Mentorship</div>
                                <p class="para-text mt15">Mapping students to an industry leader after careful career goals and skill gap analysis to be a Master-mentor.</p>
                            </div>

                             <div class="long-box-career">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Corporate Conversations</div>
                                <p class="para-text mt15">Invite Industry Leaders to talk about their domain and professional experience, talk about careers in their domain.</p>
                            </div>

                            
                            <div class="long-box-career">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Skill Building Workshops and Programmes</div>
                                <p class="para-text mt15">Workshops and every rule to help enhance skills vital to the industry and personal development.</p>
                            </div>

                            
                           
                    
           
        </div>
                {{!-- <div class="cover-outer">
                    <div class="heading-light mb10">CAREER</div>
                    <div class="heading-large mb15">Career Support</div>
                    <p class="para-text">During the 12 month program, the team not only equips the students with the latest
                         technologies but also focuses <br> on making them ready to step into the industry by ticking vital bullet
                          points for their dream job/ role. </p>
                </div>

                <div class="cover-outer">

                    <ul class="align-in-row mt25">
                        <li class="mr30">
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Coaching and Counselling</div>
                                <p class="para-text mt15">Alumni can enroll into 1 classroom course of their choice
                                    every year after they graduate.</p>
                            </div>
                        </li>

                        <li class="mr30">
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Personalised Skill Development Plan</div>
                                <p class="para-text mt15">Focus on personal growth and holistic development in a group
                                    and as an individual.</p>
                            </div>
                        </li>

                        <li class="mr30">
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">One-on-One Mentorship</div>
                                <p class="para-text mt15">Each fellow is a verified business owner, intellectual or
                                    artist and is duty-bound to support the others throughout their lives.</p>
                            </div>
                        </li>

                    </ul>

                    <ul class="align-in-row mt20">
                        <li class="mr30">
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Corporate Conversations</div>
                                <p class="para-text mt15">Invite Industry Leaders to talk about their domain and professional experience, 
                                    talk about careers in their domain.</p>
                            </div>
                        </li>

                        <li class="mr30">
                            <div class="left-sqaure-box">
                                <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                                <div class="heading-medium mb15 mt15">Skill Building Workshops and Programmes</div>
                                <p class="para-text mt15">Workshops and every rule to help enhance skills vital to the industry and personal development.</p>
                            </div>
                        </li>

                    </ul>



                </div> --}}

            </div>
        </div>
    </section>


    <div class="section pt80 pb80">
        <div class="container">
         

    </div>

    
    <section class="cover-outer pt80 pb80 grey-bg">
        <div class="container pl350">
            <div class="row">
                <div class="cover-outer">
                    <div class="heading-light mb10">FORM</div>
                    <div class="heading-large mb15">Have More Questions?</div>
                    <div class="heading-form mb10"> Get in Touch with us:</div>
                </div>



                <form id="my_form" class="masterForm">
                    <div class="form-group">
                        <label>Name
                            <sup class="text-danger">*</sup>
                        </label>
                        <div class="input-group">
                            <i class="material-icons">mail_outline</i>
                            <input type="email" class="form-control" onblur="validateEmail(this)"
                                placeholder="john.doe@gmail.com" id="email" name="email">
                            <span class="msg-error" id="emailValidation"></span>
                        </div>
                    </div>
                    <div class="form-group form-text">
                        <label> Email Address
                            <sup class="text-danger">*</sup>
                        </label>
                        <div class="input-group">
                            <i class="material-icons">person_outline</i>
                            <input type="text" onblur="validateName(this)" class="form-control" placeholder="john"
                                id="name" name="name">
                            <span class="msg-error" id="nameValidation"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number
                            <sup class="text-danger">*</sup>
                        </label>
                        <div class="input-group">
                            <i class="material-icons"> call </i>
                            <input type="tel" class="form-control" maxlength="10" id="mobile"
                                onblur="validateMobile(this)" placeholder="989898998" name="mobile">
                        </div>
                        <span id="mobileValidation" class="msg-error"></span>
                    </div>
                    <div class="form-group">
                        <label>Question?
                            <sup class="text-danger">*</sup>
                        </label>
                        {{!-- <div class="input-group">
                            <i class="material-icons">message</i>
                            <textarea class="form-control msg-textarea" id="message" onblur="validateMessage(this)"
                                placeholder="Write your message" name="message"></textarea>
                            <span id="msgValidation" class="msg-error"></span>
                        </div> --}}
                        <div class="input-group">
                            <i class=" material-icons">message</i>
                            <textarea class="form-control msg-textarea pr25 pl25" id="message"
                                onblur="validateMessage(this)" placeholder="Write your message"
                                name="message"></textarea>
                            <span id="msgValidation" class="msg-error"></span>
                        </div>
                    </div>

                    <div class="form-group btn-outer mb0">
                        <button type="submit" class="nav-btn next">APPLY NOW</button>
                    </div>

                    <div id="result"></div>

                </form>
            </div>
        </div>
    </section>

      <section class="cover-outer pt80 pb80">
        <div class="container pl350">
            <div class="row">
                <div class="cover-outer">
                    <div class="heading-light mb10">EVENTS</div>
                    <div class="heading-large mb15">Events this week</div>

                </div>

                <div class="cover-outer">

                    <ul class="align-in-row two-card-section">
                        <li class="mr30">
                            <div class="long-ico-box">
                                <img src="../assets/Images/Event-1.png" alt=""> <br>

                                <div class="down-content">
                                    <span class="date-text mt20">02 January, 2021</span>
                                    <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                    <ul class="align-space-between viewM-outer mt20">
                                        <li class="orange-clr ">View More</li>
                                        <li><span class="material-icons">share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li class="mr30">
                            <div class="long-ico-box">
                                <img src="../assets/Images/Event-1.png" alt=""> <br>
                                <div class="down-content">
                                    <span class="date-text mt20">12 December, 2020</span>
                                    <p class="small-heading mt10">Best Website Dashboard UI Examples for Design Inspiration</p>
                                    <ul class="align-space-between viewM-outer mt20">
                                        <li class="orange-clr ">View More</li>
                                        <li><span class="material-icons">share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="align-in-row two-card-section mt40">
                        <li class="mr30">
                            <div class="long-ico-box">
                                <img src="../assets/Images/Event-1.png" alt=""> <br>

                                <div class="down-content">
                                    <span class="date-text mt20">12 December, 2020</span>
                                    <p class="small-heading mt10">Best Website Dashboard UI Examples for Design Inspiration</p>
                                    <ul class="align-space-between viewM-outer mt20">
                                        <li class="orange-clr ">View More</li>
                                        <li><span class="material-icons">share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li class="mr30">
                            <div class="long-ico-box">
                                <img src="../assets/Images/Event-1.png" alt=""> <br>
                                <div class="down-content">
                                    <span class="date-text mt20">23 November, 2020</span>
                                    <p class="small-heading mt10">Full Stack Developer Roadmap 2021 how to get Fast Development ?</p>
                                    <ul class="align-space-between viewM-outer mt20">
                                        <li class="orange-clr">View More</li>
                                        <li><span class="material-icons">share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>




</div>

<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav-2').find('a').each(function () {

      if ($(this).attr('href') == "/career-services") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });

    $('.primary-nav').find('a').each(function () {
            $(this).removeClass('active')
    });

    

  });

</script>
