{{!-- 
<section class="cover-outer pt80 pb80 pgp-tbm">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">  
                <div class="heading-light mb10">PGP-TBM</div>          
           <div class="heading-extra-large">PGP TBM Cohort of 2021</div>         
            </div>


            <div class="cover-outer  mt20">
                  <div class="heading-large mb15"> Statistics </div>
            </div>

            <div class="left-border-text mt20">
            

                <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Total <br> Applications</strong> </div>
                         <div class="heading-medium mb10"> 1163</div>                
                </div>

                 <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Acceptance <br> Rate</strong> </div>
                         <div class="heading-medium mb10"> 11.4%</div>                
                </div>

                   <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Avg GMAT <br>Score</strong> </div>
                         <div class="heading-medium mb10"> 11.4%</div>                
                </div>

                   <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Average <br> Age</strong> </div>
                         <div class="heading-medium mb10"> 11.4%</div>                
                </div>

                    <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Minimum & <br> Maximum age</strong> </div>
                         <div class="heading-medium mb10"> 11.4%</div>                
                </div>

                   <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb10 mt10"> <strong>Avg Last dron  <br> salary</strong> </div>
                         <div class="heading-medium mb10"> 11.4%</div>                
                </div>

             
 
            </div>



                <div class="cover-outer  pt80">
                  <div class="heading-large mb15"> Undergraduate Colleges Represented </div>
            </div>

            <div class="left-border-text mt20 undergraduate-college">
            

                <div class="border-left">
              
                      <div class="para-text mb20 "> <strong>IIT, KHARAGPUR</strong> </div>
                      <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                       <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        
                </div>

                 <div class="border-left">
                     <div class="para-text mb20 "> <strong>IIT, KHARAGPUR</strong> </div>
                      <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                       <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                </div>

                   <div class="border-left">
                     <div class="para-text mb20 "> <strong>IIT, KHARAGPUR</strong> </div>
                      <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                       <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                </div>

                   <div class="border-left">
                 <div class="para-text mb20 "> <strong>IIT, KHARAGPUR</strong> </div>
                      <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                       <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                </div>


                    <div class="border-left">
                      <div class="para-text mb20 "> <strong>IIT, KHARAGPUR</strong> </div>
                      <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                       <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                        <div class="para-text mb20"> <strong>IIT, CHENNAI</strong> </div>
                </div>


             
 
            </div>



            
                <div class="cover-outer  pt80">
                  <div class="heading-large mb15"> Former Employers </div>
            </div>

            <div class="left-border-text mt20 undergraduate-college">
            

                <div class="border-left">
              
                      <div class="para-text mb20 "> <strong>MCKINSEY </strong> </div>
                      <div class="para-text mb20"> <strong>GOLDMAN </strong> </div>
                       <div class="para-text mb20"> <strong>KPMG</strong> </div>
                        <div class="para-text mb20"> <strong>CRISIL LIMITED</strong> </div>
                        <div class="para-text mb20"> <strong>AMAZON</strong> </div>
                        
                </div>

                 <div class="border-left">
                     <div class="para-text mb20 "> <strong> ZS ASSOCIATES </strong> </div>
                      <div class="para-text mb20"> <strong>ACCENTURE INDIA</strong> </div>
                       <div class="para-text mb20"> <strong>KPMG</strong> </div>
                        <div class="para-text mb20"> <strong>EY</strong> </div>
                        <div class="para-text mb20"> <strong>SWIGGY</strong> </div>

                </div>

                   <div class="border-left">
                    <div class="para-text mb20 "> <strong> ZS ASSOCIATES </strong> </div>
                      <div class="para-text mb20"> <strong>ACCENTURE INDIA</strong> </div>
                       <div class="para-text mb20"> <strong>KPMG</strong> </div>
                        <div class="para-text mb20"> <strong>EY</strong> </div>
                        <div class="para-text mb20"> <strong>SWIGGY</strong> </div>
                </div>

                   <div class="border-left">
                  <div class="para-text mb20 "> <strong> ZS ASSOCIATES </strong> </div>
                      <div class="para-text mb20"> <strong>ACCENTURE INDIA</strong> </div>
                       <div class="para-text mb20"> <strong>KPMG</strong> </div>
                        <div class="para-text mb20"> <strong>EY</strong> </div>
                        <div class="para-text mb20"> <strong>SWIGGY</strong> </div>
                </div>


                    <div class="border-left">
                       <div class="para-text mb20 "> <strong> ZS ASSOCIATES </strong> </div>
                      <div class="para-text mb20"> <strong>ACCENTURE INDIA</strong> </div>
                       <div class="para-text mb20"> <strong>KPMG</strong> </div>
                        <div class="para-text mb20"> <strong>EY</strong> </div>
                        <div class="para-text mb20"> <strong>SWIGGY</strong> </div>
                </div>


             
 
            </div>



  

    </div>
</section>

<div class="container pl350 pt80">
  <div class="cover-outer  ">
                  <div class="heading-large mb15"> Industry Background </div>
            </div>
</div>
   
<section class="cover-outer  pb80 consumer">

    <div class="container pl350">


        
        <div class="aptitude-section">


             
                <div class="cover-outer">
                
            <div class="left-border-text mt20">
            

                  <div class="border-left">
            
                      <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>                
                </div>


                   <div class="border-left">
            
                      <div class="para-text mb10 mt10"> <strong>IT</strong> </div>
                         <div class="heading-medium mb10"> 14%</div>                
                </div>

                   <div class="border-left">
            
                      <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>                
                </div>


                   <div class="border-left">
            
                      <div class="para-text mb10 mt10"> <strong>IT</strong> </div>
                         <div class="heading-medium mb10"> 14%</div>                
                </div>

                    <div class="border-left">
            
                      <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>                
                </div>


            </div>
                </div>

                <div class="dost-logo-right">
                    <figure> <img src="../assets/Images/download.jpg" alt=""> </figure>
                </div>

                </div>
    </div>
</section>






<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">States</div>
                <div class="heading-large mb15"> States Represented</div>
           
            </div>

        <div class=" india-map">

<div class="left-content">
  <ul>
                 <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                    <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                      <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                      <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>

                  <li>
                    <div class="para-text mb10 mt10"> <strong>CONSUMER</strong> </div>
                         <div class="heading-medium mb10"> 16%</div>   
                 </li>
  </ul>
</div>
           
            <div class="right-content"> <img src="../assets/Images/India-map.jpg" alt="">  </div>
         </div>



        </div>
    </div>
</section> --}}