<section class="cover-outer pt80 pb80 grey-bg contact-us">
    <div class="container ">
        <div class="row">
            <div class="cover-outer col-md-6">
             
                <div class="heading-large mb15">Contact Us</div>

                <div class="medium-heading mt40 mb10">Address : </div>
                <p class="para-text mb20">Masters' Union, <br>
                   Tower C, DLF Cyberpark, Phase II, <br>
                   Udyog Vihar, Sector 20, <br>
                   Gurugram, Haryana<br>
                   PIN - 122008</p>

                  

                    <div class="medium-heading mb10">General Enquiries:</div> 
                      <div class="contact_num mb20">
                           
                        <i class=" material-icons">phone</i>
                        <a href="tel:18001205288"> 1800 120 5288</a>
                    </div>

                

                 
               

                    <div class="medium-heading mb10">Admission Related Queries:</div>
                      <div class="contact_num mb20">                           
                        <i class=" material-icons">mail_outline</i>
                        <p href="para-text"> admissions@mastersunion.org </p>       
                    </div>


                     <div class="medium-heading mb10">Media Related Queries:</div>
                      <div class="contact_num mb20">   
                        <i class=" material-icons">mail_outline</i>
                        <p class="para-text">careerservices@mastersunion.org</p>
                    </div>
                  

               

                   <div class="medium-heading mb10"> Services:</div>
                   <div class="contact_num mb20">                          
                        <i class=" material-icons">mail_outline</i>
                        <p class="para-text">careerservices@mastersunion.org</p>                     
                    </div>
                
            </div>


 <div class="col-md-6 form-section mt65">
  <form id="my_form" class="masterForm">
                <div class="form-group">
                    <label>Name
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">mail_outline</i>
                        <input type="email" class="form-control" onblur="validateEmail(this)"
                            placeholder="john.doe@gmail.com" id="email" name="email">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                </div>
                <div class="form-group form-text">
                    <label> Email Address
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">person_outline</i>
                        <input type="text" onblur="validateName(this)" class="form-control" placeholder="john" id="name"
                            name="name">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons"> call </i>
                        <input type="tel" class="form-control" maxlength="10" id="mobile" onblur="validateMobile(this)"
                            placeholder="989898998" name="mobile">
                    </div>
                    <span id="mobileValidation" class="msg-error"></span>
                </div>
                <div class="form-group">
                    <label>Question?
                        <sup class="text-danger">*</sup>
                    </label>
                 
                    <div class="input-group">
                        <i class=" material-icons">message</i>
                        <textarea class="form-control msg-textarea pr25 pl25" id="message"
                            onblur="validateMessage(this)" placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div>
                </div>

                <div class="form-group btn-outer mb0">
                    <button type="submit" class="nav-btn next">APPLY NOW</button>
                </div>

                <div id="result"></div>

            </form>
 </div>
          



        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/contact-us") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>