

<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">PGP AC</div>
                <div class="heading-large mb15"> Post Graduation Programme in Advanced Computing</div>
                <p class="para-text">The Post Graduate Programme in Advanced Computing is a 12-month programme,
                     tailor-made to master the past and design the future in technology, through  practitioner-led 
                     classrooms, research orientation, and a project-driven pedagogy. </p>
            </div>

            <div class="cover-outer mt40 event-schedule">
                      <ul class="align-space-between">
                    <li>
                        <div class="top-ico-section">
                            <i class="material-icons">  schedule  </i>
                            <div>
                                <span class="grey-clr">DURATION</span>
                                <p class="header-para-text mt5">12 months</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="top-ico-section">
                        <i class="material-icons"> location_on </i>

                        <div>
                            <span class="grey-clr">Structure</span>
                            <p class="header-para-text mt5">8 Terms,  6 Weeks each</p>
                        </div>
                    </div>
                    </li>
                   <li>
                       <div class="top-ico-section">
                        <i class="material-icons"> watch </i>
                         <div>
                            <span class="grey-clr">Concentrations</span>
                            <p class="header-para-text mt5">18</p>
                        </div>
                    </div>
                   </li>
                    <li>
                        <div class="top-ico-section">
                        <i class="material-icons">event </i>

                        <div>
                            <span class="grey-clr">Courses per Concentration</span>
                            <p class="header-para-text mt5">4-5</p>
                        </div>
                    </div>
                    </li>
                    
                    
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row align-items-center">

       <div class="col-md-12">
             <div class="heading-light mb10">WHY CHOOSE US</div>
                <div class="heading-large mb15"> We Are The Best To Boost Skills For Your Future</div>
                <p class="para-text">To help navigate their careers better, each student is partnered 
                    with a Master-mentor who personally guides them through their journey.To help navigate
                     their careers better, each student is partnered with a Master-mentor who personally 
                     guides them through their journey.</p>
                <br>
                     <p class="para-text">To help navigate their careers better, each student is partnered 
                         with a Master-mentor who personally guides them through their journey.</p>
          </div>



   

   
            <div class="col-md-10 col-sm-12 border-right mt50">
                <div class="heading-large mb15"> Universities Support Our Certificate </div>
                <p class="para-text">To help navigate their careers better, each student is partnered
                     with  a Master <br> their careers better, each student with a Master their careers 
                     better each student</p>   
            </div>

            <div class="col-md-2 col-sm-12 pl25 mt50">
              <div class="counting-text mb15"> 20  <span class="green-clr">+</span>  </div>
              <div class="green-clr">UNIVERSITIES</div>        
           </div>

           
         

           
            <div class="col-md-10 col-sm-12 border-right mt50">
                <div class="heading-large mb15"> Student Qualified from Our Institute </div>
                <p class="para-text">To help navigate their careers better, each student is 
                    partnered with a Master their careers better, each student with a Master
                     their careers better each student</p>   
            </div>

            <div class="col-md-2 col-sm-12 pl25 mt50">
              <div class="counting-text mb15">3000<span class="green-clr">+</span>  </div>
              <div class="green-clr">STUDENTS</div>        
           </div>


             <div class="col-md-10 col-sm-12 border-right mt50">
                <div class="heading-large mb15"> Courses of Future Support </div>
                <p class="para-text">To help navigate their careers better, each student 
                    is partnered with a Master their careers better, each student with a 
                    Master their careers better each student</p>   
            </div>

            <div class="col-md-2 col-sm-12 pl25 mt50">
              <div class="counting-text mb15"> 50  <span class="green-clr">+</span>  </div>
              <div class="green-clr">COURSES</div>        
           </div>

           

         
  
        </div>
    </div>
</section>


<section class="section-3 cover-outer pt80 pb80">
    <div class="container pl350">

           <div class="cover-outer">
                <div class="heading-light mb10">PROGRAMS</div>
                <div class="heading-large mb15"> Pedagogy to Facilitate Innovation</div>
            </div>


   <div class="cover-outer mt30">
   <div class="heading-large "> Core</div>
   </div>
     

        <div class="cover-outer pb60">
            <ul class="align-space-between Concen-CourseOuter">
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"> <img src="../assets/Images/icons/Software-Eng-ico.png" alt=""> </figure>
                        <div class="ml10">
                            <h6 class="text-medium">Software <span>Engineering</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Product-develop-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Product <span> Development</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/design-think-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Design<span> Thinking</span> </h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="heading-large cover-outer"> Concentrations <span class="heading-large-light">(Any 2)</span> </div>

        <div class="cover-outer">
            <ul class="align-space-between Concen-CourseOuter">
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/artificial-intelligence-ico.png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Artificial <span> Intelligence </span> <br> Systems </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/robotic-arm-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Robotics </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Analytics-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Advanced-Data </span> Analytics </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Machine-learning-ico (2).png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Machine <span> Learning </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/cyber-security-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Cyber</span> Security </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/distributed-blockchain-ico.png" alt="">
                        </figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Distributed <span> Computing & <br> Blockchains </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/lot-hardwork-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> IoT & Hardware </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/computer-Vision-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Computer <span>Vision </span> and Graphics </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/bio-computation-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Bio </span> Computation </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Humar-compute-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium">Human-Computer <span>Interaction</span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Pattern-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Pattern <span> Recognition, <br> Neural</span> Networks & <br>
                                <span>Deep</span>Learning
                            </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/cryptography-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Cryptography </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/Software-Eng-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> Software for <span> Financial Engineering </span> </h6>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/icons/technology-ico.png" alt=""></figure>
                        <div class="ml10">
                            <h6 class="text-medium"> <span>Technology </span> ventures </h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>





    </div>

</section>

<section class="cover-outer smac-shack pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10"> PROGRAMS </div>
                <div class="heading-large mb15">Pedagogy to Facilitate Innovation</div>
            
            </div>

            <div class="cover-outer">

                <ul class="align-in-row mt25 Concen-CourseOuter">
                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Master-led Classes</div>
                            <p class="para-text mt15">Courses designed and led by industry leaders,
                                 imparted in internship style classes, to offer hands-on learning</p>
                            <div class="read-more-btn">
                                <a class="green-clr read-more" href="#">READ MORE</a>
                            </div>     
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Psychological Counselling</div>
                            <p class="para-text mt15">Focus on personal growth and holistic development in a group
                                and as an individual.</p>
                                   <div class="mt20 read-more-btn">
                                <a class="green-clr read-more" href="#">READ MORE</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner, intellectual or
                                artist and is duty-bound to support the others throughout their lives.</p>
                                   <div class="mt20 read-more-btn">
                                <a class="green-clr read-more" href="#">READ MORE</a>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Career Enablement</div>
                            <p class="para-text mt15">Our corporate outreach facilitates on-campus and off-campus
                                recruitment for full time as well as internship roles at Fortune 500 companies, as
                                well as funded startups</p>
                                   <div class="mt20 read-more-btn">
                                <a class="green-clr read-more" href="#">READ MORE</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Access to Masters</div>
                            <p class="para-text mt15">Alumni are an integral part of the community and get access to
                                all our masters’ 1-1 office hours for lifelong business or personal counseling.</p>
                                   <div class="mt20 read-more-btn">
                                <a class="green-clr read-more" href="#">READ MORE</a>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">MEMBERSHIPS</div>
                <div class="heading-large mb15"> Designing a Successful Professional Journey</div>
         
            </div>

            <div class="align-in-row four-box-with-border mt30">
                 <div class="four-box-no-space border-top border-right">
                            <img  src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt50">Career  Counselling  and Coaching</div>
                            <span class="material-icons green-clr mt30">east </span>
                   
                        </div>

                         <div class="four-box-no-space border-top border-right">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                          <div class="heading-medium mb15 mt50">Career  Counselling  and Coaching</div>
                            <span class="material-icons green-clr mt30">east </span>
                   
                        </div>

                         <div class="four-box-no-space border-top border-right">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt50">Career  Counselling  and Coaching</div>
                            <span class="material-icons green-clr mt30">east </span>
                   
                        </div>

                         <div class="four-box-no-space border-top">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt50">Career  Counselling  and Coaching</div>
                            <span class="material-icons green-clr mt30">east </span>
                   
                        </div>
            </div>
        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 full-width-card-section grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">PROGRAMS</div>
                <div class="heading-large mb15"> Networking</div>
             
            </div>

              <div class="cover-outer">
                <ul class="align-in-row mt25 four-card-section">
                    <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Lifelong Membership of the Union</div>
                            <p class="para-text mt15">Students stay on as Union members with access to 
                                coworking space, leadership lectures, daily dinners and benefits.</p>  
                        </div>
                    </li>

                        <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Networking Dinners</div>
                            <p class="para-text mt15">Union with the help of various student 
                                clubs, organizes theme-based networking dinners to expose students 
                                to leaders and veterans from various walks of life.</p>  
                        </div>
                    </li>

                        <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Masters’ Access</div>
                            <p class="para-text mt15">As a student, you have access to any Master
                                 during their office hours. You can discuss ideas, evaluate proposals
                                  and get feedback on your tasks.</p>  
                        </div>
                    </li>

                       <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner, 
                                intellectual or artist and is duty-bound to support each other
                                 throughout their lives.</p>  
                        </div>
                    </li>



               

               
                </ul>



            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">FORM</div>
                <div class="heading-large mb15">Have More Questions?</div>
                <div class="heading-form mb10"> Get in Touch with us:</div>
            </div>



            <form id="my_form" class="masterForm">
                <div class="form-group">
                    <label>Name
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">mail_outline</i>
                        <input type="email" class="form-control" onblur="validateEmail(this)"
                            placeholder="john.doe@gmail.com" id="email" name="email">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                </div>
                <div class="form-group form-text">
                    <label> Email Address
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">person_outline</i>
                        <input type="text" onblur="validateName(this)" class="form-control" placeholder="john" id="name"
                            name="name">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons"> call </i>
                        <input type="tel" class="form-control" maxlength="10" id="mobile" onblur="validateMobile(this)"
                            placeholder="989898998" name="mobile">
                    </div>
                    <span id="mobileValidation" class="msg-error"></span>
                </div>
                <div class="form-group">
                    <label>Question?
                        <sup class="text-danger">*</sup>
                    </label>
               
                    <div class="input-group">
                        <i class=" material-icons">message</i>
                        <textarea class="form-control msg-textarea pr25 pl25" id="message"
                            onblur="validateMessage(this)" placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div>
                </div>

                <div class="form-group btn-outer mb0">
                    <button type="submit" class="nav-btn next">APPLY NOW</button>
                </div>

                <div id="result"></div>

            </form>



        </div>
    </div>
</section>

<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav-2').find('a').each(function () {

      if ($(this).attr('href') == "/course") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>
