{{!-- <div class="section-WSmenu  evpage text-left">
    <div class="container" id="scroll-careers">
        <div class="row">

            <div class="col np" id="eventLabel"><h1 class="wow fadeInUp boldheading mb20" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">UPCOMING
                    <div class="borderheading">EVENTS</div>
                </h1></div>
            <div class="section-career eventPag wow fadeInUp mb90" data-wow-delay=".51s">
                <div class="career-left wow fadeInUp">

                    <h5 class="wow fadeInUp career-filter-section"> Event Types </h5>
                    <ul class="department-list mhide">
                        <li id="allCheck">
                            <a href="javascript:void(0);" onclick="filterAllEvent(pastUpcomingEvent, this)"> All
                                <span id="allCount"></span>
                            </a>
                        </li>
                        <li id="businessCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('BUSINESS',this)"> business
                                <span id="businessCount">0</span>
                            </a>
                        </li>
                        <li id="educationalCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('EDUCATIONAL',this)"> educational
                                <span id="educationalCount">0</span>
                            </a>
                        </li>
                        <li id="entertainmentCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('ENTERTAINMENT',this)"> entertainment
                                <span id="entertainmentCount">0</span>
                            </a>
                        </li>
                        <li id="healtAndFitnessCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('HEALTh_AND_FITNESS',this)"> health and
                                fitness
                                <span id="healtAndFitnessCount">0</span>
                            </a>
                        </li>
                        <li id="lifestyleCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('LIFESTYLE_AND_EXHIBITION',this)">
                                lifestyle and exibition
                                <span id="lifestyleCount">0</span>
                            </a>
                        </li>
                        <li id="marathonsCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('MARATHONS',this)"> marathons
                                <span id="marathonsCount">0</span>
                            </a>
                        </li>

                        <li id="masterClassCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('MasterClass',this)"> Master Class
                                <span id="masterclassCountt">0</span>
                            </a>
                        </li>

                        <li id="sportsCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('SPORTS',this)"> sports
                                <span id="sportsCount">0</span>
                            </a>
                        </li>
                        <li id="travelCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('TRAVEL',this)"> travel
                                <span id="travelCount">0</span>
                            </a>
                        </li>
                        <li id="othersCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('OTHERS',this)"> others
                                <span id="othersCount">0</span>
                            </a>
                        </li>
                        <li id="paidCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('PaidEvent',this)"> Paid
                                <span id="paidCount">0</span>
                            </a>
                        </li>
                        <li id="webinarCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterEType('Webinar',this)"> webinar
                                <span id="webinarCount">0</span>
                            </a>
                        </li>
                    </ul>



                    <div class="positionR dhide">
                        <div class="dropdown dep-mob">
                            <div class="select" id="dvType">
                                <span id="spnType">Select Event Types</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterEType('All',pastUpcomingEvent)">
                                    <a href="javascript:void(0);"> all </a>
                                </li>
                                <li onclick="filterEType('BUSINESS',this)">
                                    <a href="javascript:void(0);"> business </a>
                                </li>
                                <li onclick="filterEType('EDUCATIONAL',this)">
                                    <a href="javascript:void(0);"> educational
                                    </a>
                                </li>
                                <li onclick="filterEType('ENTERTAINMENT',this)">
                                    <a href="javascript:void(0);">
                                        entertainment </a>
                                </li>
                                <li onclick="filterEType('HEALTh_AND_FITNESS',this)">
                                    <a href="javascript:void(0);">
                                        health and fitness </a>
                                </li>
                                <li onclick="filterEType('LIFESTYLE_AND_EXHIBITION',this)">
                                    <a href="javascript:void(0);"> lifestyle and exibition
                                    </a>
                                </li>
                                <li onclick="filterEType('MARATHONS',this)">
                                    <a href="javascript:void(0);"> marathons
                                    </a>
                                </li>
                                <li onclick="filterEType('SPORTS',this)">
                                    <a href="javascript:void(0);"> sports </a>
                                </li>
                                <li onclick="filterEType('TRAVEL',this)">
                                    <a href="javascript:void(0);"> travel </a>
                                </li>
                                <li onclick="filterEType('OTHERS',this)">
                                    <a href="javascript:void(0);"> others </a>
                                </li>
                                <li onclick="filterEType('PaidEvent',this)">
                                    <a href="javascript:void(0);"> Paid </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5 class="wow fadeInUp career-filter-section"> Event Location </h5>
                    <ul class="department-list mhide">
                        <li id="delhiCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Delhi, India',this)"> delhi
                                <span id="delhiCount">0</span>
                            </a>
                        </li>
                        <li id="onlineCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Online',this)">online
                                <span id="onlineCount">0</span>
                            </a>
                        </li>
                        <li id="bangloreCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('banglore',this)">Bangalore
                                <span id="bangloreCount">0</span>
                            </a>
                        </li>
                        <li id="hyderabadCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('hyderabad',this)"> hyderabad
                                <span id="hyderabadCount">0</span>
                            </a>
                        </li>
                        <li id="chennaiCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Chennai',this)"> Chennai
                                <span id="chennaiCount">0</span>
                            </a>
                        </li>
                        <li id="chandigarhCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('chandigarh',this)"> chandigarh
                                <span id="chandigarhCount">0</span>
                            </a>
                        </li>
                        <li id="punjabCheck" class="hide">
                            <a href="javascript:void(0);" onclick="filterELoc('Punjab',this)"> Punjab
                                <span id="punjabCount">0</span>
                            </a>
                        </li>
                    </ul>

                    <div class="positionR dhide">
                        <div class="dropdown dep-mob">
                            <div class="select" id="dvLoc">
                                <span id="spnLoc">Select Event Location</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterELoc('Delhi, India',this)">
                                    <a href="javascript:void(0);"></a> delhi 
                                </li>
                                <li onclick="filterELoc('Online',this)">
                                    <a href="javascript:void(0);">online </a>
                                </li>
                                <li onclick="filterELoc('banglore',this)">
                                    <a href="javascript:void(0);">Bangalore </a>
                                </li>
                                <li onclick="filterELoc('hyderabad',this)">
                                    <a href="javascript:void(0);"> hyderabad </a>
                                </li>
                                <li onclick="filterELoc('Chennai',this)">
                                    <a href="javascript:void(0);"> Chennai </a>
                                </li>
                                <li onclick="filterELoc('chandigarh',this)">
                                    <a href="javascript:void(0);">
                                        chandigarh</a>
                                </li>
                                <li onclick="filterELoc('Punjab',this)">
                                    <a href="javascript:void(0);"> Punjab</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="career-right wow fadeInUp">
                    <div class="events-list wow fadeInUp" id="eventDiv"><div class="jobs-nodata-outer " id="positionR">
                            <p class="nodata-found"> No events found </p>
                        </div></div>

                </div>
            </div>

        </div>


    </div>
 --}}

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">EVENTS</div>
                <div class="heading-large mb15">Events this week</div>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row two-card-section">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between viewM-outer mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="align-in-row two-card-section mt40">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">23 November, 2020</span>
                                <p class="small-heading mt10">Full Stack Developer Roadmap 2021 how to get Fast
                                    Development ?</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
</div>
        
        
  

        <footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/events") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });
</script>



