<div class="cover-outer">

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Staying Ahead of Our <br> Time <br>
                        <span class="black-clr">Advanced Computing</span>
                    </h5>
                    <p class="header-para-text">Grooming Tech-Leaders at India's First Institute offering Post
                        Graduation in Advanced Computing Technologies Through Applied Research. </p>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>





      <section class="grey-bg CoursePG ptb30 cover-outer">
        <div class="container">
            <div class="row">
                <div class="right-border-content">
                    <p class="header-para-text">Post Graduate Programme <br>
                        in Advanced Computing</p>
                </div>
                <ul>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons">  schedule  </i>
                            <div class="ml10">
                                <span class="grey-clr">DURATION</span>
                                <p class="header-para-text">12 months</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons"> location_on </i>

                        <div class="ml10">
                            <span class="grey-clr">LOCATION</span>
                            <p class="header-para-text">Gurugram</p>
                        </div>
                    </div>
                    </li>
                   <li>
                       <div class="left-ico-section">
                        <i class="material-icons"> watch </i>
                         <div class="ml10">
                            <span class="grey-clr">FORMAT</span>
                            <p class="header-para-text">Full Time</p>
                        </div>
                    </div>
                   </li>
                    <li>
                        <div class="left-ico-section">
                        <i class="material-icons">event </i>

                        <div class="ml10">
                            <span class="grey-clr">COMMENCEMENT DATE</span>
                            <p class="header-para-text">August 2021</p>
                        </div>
                    </div>
                    </li>
                    
                    
                </ul>



            </div>


        </div>
</div>
</section>


</div>


<section class="cover-outer pt80 pb80 faq-section">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">FAQ</div>
                <div class="heading-large mb15"> Frequently Asked Questions</div>

            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">PGP- AC</div>
            </div>
   <div class="accordion cover-outer" id="accordionExample">
       <div class="card ">
                <div class="card-header" id="headingPGPOne">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPOne" 
                        aria-expanded="true" aria-controls="collapsePGPOne">
                            What is a typical day of a Masters' Union student?
                               <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                          </span>                  
                 
                                
                        </button>  
                      
                    </h5>

                   
                </div>
                <div id="collapsePGPOne" class="collapse show" aria-labelledby="headingPGPOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes every day throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday. Students also have assignments and group projects, career counselling sessions and extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card FAQ mt35">
                <div class="card-header" id="headingPGPtwo">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPtwo"
                            aria-expanded="" aria-controls="collapsePGPtow">
                            Can I tailor my Masters' Union PGP AC?
                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>

                      
                </div>
                <div id="collapsePGPtwo" class="collapse" aria-labelledby="headingPGPtwo"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card FAQ mt35">
                <div class="card-header" id="headingPGPthree">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPthree"
                            aria-expanded="" aria-controls="collapsePGPthree">
                            How will I be graded at Masters' Union?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPthree" class="collapse" aria-labelledby="headingPGPthree"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card  FAQ mt35">
                <div class="card-header" id="headingPGPfour">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPfour"
                            aria-expanded="" aria-controls="collapsePGPfour">
                            Will Masters' Union disclose my grades?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPfour" class="collapse" aria-labelledby="headingPGPfour"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>


            <div class="cover-outer pt80">
                <div class="medium-heading mb15">Admissions</div>
            </div>

          <div class="card z-depth-0 bordered">
               <div class="card-header" id="headingPGPfive">
                   <h5 class="mb-0 small-sub-heading">
                       <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapsePGPfive" aria-expanded="false" aria-controls="collapsePGPfive">
                           What is a typical day of a Masters' Union student?
                              <span class="open-icons">
                               <i class="material-icons">arrow_drop_down</i>
                         </span>                  
               
                               
                       </button>  
                     
                   </h5>

                 
               </div>
               <div id="collapsePGPfive" class="collapse" aria-labelledby="headingPGPfive" data-parent="#accordionExample" style="">
                   <div class="card-body">
                       <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes every day throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                           Monday through Thursday. Students also have assignments and group projects, career counselling sessions and extracurricular activities,
                           which keep them busy over Friday, Saturday and Sunday.</p>
                   </div>
               </div>
           </div>

            <div class="card z-depth-0 bordered FAQ mt35">
                <div class="card-header" id="headingPGPsix">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPsix"
                            aria-expanded="" aria-controls="collapsePGPsix">
                            Is there an age limit for entry?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPsix" class="collapse" aria-labelledby="headingPGPsix"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered FAQ mt35">
                <div class="card-header" id="headingPGPseven">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPseven"
                            aria-expanded="" aria-controls="collapsePGPseven">
                            What’s the minimum qualifying GPA?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPseven" class="collapse" aria-labelledby="headingPGPseven"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered FAQ mt35">
                <div class="card-header" id="headingPGPeight">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPeight"
                            aria-expanded="" aria-controls="collapsePGPeight">
                            What is your tuition fee refund policy?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPeight" class="collapse" aria-labelledby="headingPGPeight"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered FAQ mt35">
                <div class="card-header" id="headingPGPnine">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPnine"
                            aria-expanded="" aria-controls="collapsePGPnine">
                            Can I defer my admission offer from Masters' Union to the next year?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPnine" class="collapse" aria-labelledby="headingPGPnine"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered FAQ mt35">
                <div class="card-header" id="headingPGPten">
                    <h5 class="mb-0 small-sub-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPten"
                            aria-expanded="" aria-controls="collapsePGPten">
                            How strict are the application deadlines?

                            <span class="open-icons">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                        </button>
                    </h5>
                </div>
                <div id="collapsePGPten" class="collapse" aria-labelledby="headingPGPten"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <p class="para-text text-left">No day at Masters’ Union is typical, as the schedule changes
                            every day
                            throughout the year. Usually, there are 2 to 3 classes a day, lasting 120 minutes each,
                            Monday through Thursday.
                            Students also have assignments and group projects, career counselling sessions and
                            extracurricular activities,
                            which keep them busy over Friday, Saturday and Sunday.</p>
                    </div>
                </div>
            </div>
   </div>


            

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">FORM</div>
                <div class="heading-large mb15">Have More Questions?</div>
                <div class="heading-form mb10"> Get in Touch with us:</div>
            </div>



            <form id="my_form" class="masterForm">
                <div class="form-group">
                    <label>Name
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">mail_outline</i>
                        <input type="email" class="form-control" onblur="validateEmail(this)"
                            placeholder="john.doe@gmail.com" id="email" name="email">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                </div>
                <div class="form-group form-text">
                    <label> Email Address
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">person_outline</i>
                        <input type="text" onblur="validateName(this)" class="form-control" placeholder="john" id="name"
                            name="name">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons"> call </i>
                        <input type="tel" class="form-control" maxlength="10" id="mobile" onblur="validateMobile(this)"
                            placeholder="989898998" name="mobile">
                    </div>
                    <span id="mobileValidation" class="msg-error"></span>
                </div>
                <div class="form-group">
                    <label>Question?
                        <sup class="text-danger">*</sup>
                    </label>
                    {{!-- <div class="input-group">
                        <i class="material-icons">message</i>
                        <textarea class="form-control msg-textarea" id="message" onblur="validateMessage(this)"
                            placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div> --}}
                    <div class="input-group">
                        <i class=" material-icons">message</i>
                        <textarea class="form-control msg-textarea pr25 pl25" id="message"
                            onblur="validateMessage(this)" placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div>
                </div>

                <div class="form-group btn-outer mb0">
                    <button type="submit" class="nav-btn next">APPLY NOW</button>
                </div>

                <div id="result"></div>

            </form>



        </div>
    </div>
</section>



{{!-- <section class="cover-outer pt80 pb80 pl350 grey-bg">
    <div class="container">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">EVENTS</div>
                <div class="heading-large mb15">Events this week</div>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="align-in-row mt40">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section> --}}


<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">EVENTS</div>
                <div class="heading-large mb15">Events this week</div>

            </div>
            <div class="cover-outer">

                <ul class="align-in-row two-card-section">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between viewM-outer mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design Inspiration
                                </p>
                                <ul class="align-space-between mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="align-in-row two-card-section mt40">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design Inspiration
                                </p>
                                <ul class="align-space-between mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">23 November, 2020</span>
                                <p class="small-heading mt10">Full Stack Developer Roadmap 2021 how to get Fast
                                    Development ?</p>
                                <ul class="align-space-between mt20">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>



{{!--

<section>
    <div class="card z-depth-0 bordered FAQ">
        <div class="card-header dark-theme" id="headingPGPOne">
            <h5 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapsePGPOne"
                    aria-expanded="true" aria-controls="collapsePGPOne">
                    What is a typical day of a Masters' Union student?
                    <span class="open-icons">
                        <i class="material-icons">expand_more</i>
                    </span>
                </button>
            </h5>
        </div>
        <div id="collapsePGPOne" class="collapse show" aria-labelledby="headingPGPOne" data-parent="#accordionExample"
            style="">
            <div class="card-body">
                <p class="process-tabs-smallheading text-left">No day at Masters’ Union is typical, as the schedule
                    changes every day throughout the year. Usually, there
                    are 2 to 3 classes a day, lasting 120 minutes each, Monday through Thursday. Students also have
                    assignments
                    and group projects, career counselling sessions and extracurricular activities, which keep them busy
                    over Friday, Saturday and Sunday.</p>
            </div>
        </div>
    </div>
</section> --}}

<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/faq") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>