<section class="breadcrum-fixed ">
                <div class="cc-container">
                    <nav class="secondary-menu">
                        <ul class="secondary-menu-nav">
                            <li>
                                <a href="#structured-curriculum-collaboration" class="active smoothclick">Structured Curriculum
                                    Collaboration
                                    
                                </a>
                            </li>
                            <li>
                                <a href="#student-engagement-activities" class="smoothclick">Student Engagement Activities</a>
                            </li>
                            <li>
                                <a href="#recruitment" class="smoothclick">Recruitment</a>
                            </li>
        
                        </ul>
                    </nav>
                </div>
            </section>


<div class="section-what cover-outer text-left" id="structured-curriculum-collaboration">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wow fadeInUp talent-topText hide">
                    <figure>
                        <img alt="telent" src="https://cdn.mastersunion.org/assets/img/platforms-icon.png">
                    </figure>
                    <p class="">To help companies start building a more proactive early talent recruiting plan, Union provides easy access
                        through student engagement platforms
                    </p>
                </div>
            </div>
        </div>



<section class="cover-outer pt80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">CURRICULUM</div>
                <div class="heading-large mb15">Structured Curriculum Collaboration</div>
                <p class="para-text"> Masters' Union is open to collaborating with companies to teach a structured course as demanded by companies. These courses
                    can be of three types: </p>
           
          
            </div>
            
                <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                 
                    <div class="medium-heading mt50 mb15">1. Collaborative Classroom </div>
                    <p class="para-text"> In order to train students in your industry and the company, we can co-create a 20 hour credited course with your company.This is the deepest form of collaboration that can help build a strong pipeline for your leadership talent.</p>
                    <div class="row mt25">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                
                                    <i class="material-icons"> location_on </i>
                                </figure>
                                <span>Duration</span>
                               
                                    <div class="sup-medium-heading mb15 mt25">10-20 hours over 2-6  <br> weeks </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                
                             <i class="material-icons"> location_on </i>
                             <span>Example</span>
                                <div class="sup-medium-heading mb15 mt25">Masters’ Union or On  <br> Site </div>
                          
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                             <i class="material-icons"> location_on </i>
                                <span>Example</span>
                                
                                 <div class="sup-medium-heading mb15 mt25">Supply Chain Mapping-Reliance <br> Jamnagar Refinery | 3 days </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                              <i class="material-icons"> location_on </i>
                                <span># of Courses</span>
                                <div class="sup-medium-heading mb15 mt25"> 1 </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon8.svg" alt="Students Engaged" src="https://cdn.mastersunion.org/assets/img/com-icon8.svg"> </figure>
                                <span>Students Engaged</span>
                            
                                 <div class="sup-medium-heading mb15 mt25"> Upto 60 </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon4.svg" alt="Company Commitments" src="https://cdn.mastersunion.org/assets/img/com-icon4.svg"> </figure>
                                <span>Company Commitments</span>
                                 <div class="sup-medium-heading mb15 mt25"> 1 C Suite Course Leader
                                    <br> 5 hours planning + 20 hours delivery</div>
                            
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>



    </div>
</div>
<section class="cover-outer pb80">
<div class="container pl350 ">
        <div class="row">
            <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                  
                    <div class="medium-heading mt50 mb15">2.Niche Consulting Projects</div>
                    <p class="para-text nm">
                        Companies may engage students for graded consulting assignments where deliverables are real strategy implementations and
                        not limited to reports or presentations.
                        <br> This experiential learning will give students a deep understanding of your product and/or services
                        and can help discover great talent for your various teams.
                    </p>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <i class="material-icons"> alarm </i>
                                </figure>
                                <span>Duration</span>
                                 <div class="sup-medium-heading mb15 mt25"> 2-6 weeks </div>
                       
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon1.svg" alt="location" src="https://cdn.mastersunion.org/assets/img/com-icon1.svg">
                                </figure>
                                <span>Location</span>
                                 <div class="sup-medium-heading mb15 mt25"> Masters' Union Campus </div>
                             
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon3.svg" alt="Courses" src="https://cdn.mastersunion.org/assets/img/com-icon3.svg">
                                </figure>
                                <span># of Courses</span>
                                  <div class="sup-medium-heading mb15 mt25"> 12 projects annually </div>
                             
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon8.svg" alt="Students Engaged" src="https://cdn.mastersunion.org/assets/img/com-icon8.svg"> </figure>
                                <span>Students Engaged</span>
                                  <div class="sup-medium-heading mb15 mt25"> Upto 200 </div>
                           
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon4.svg" alt="Company Commitments" src="https://cdn.mastersunion.org/assets/img/com-icon4.svg"> </figure>
                                <span>Company Commitments</span>
                                   <div class="sup-medium-heading mb15 mt25"> 6-12 Problem Statements
                                    <br> 3 Mentors for Monitoring &amp; Assessment (60 hours) </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                 
                 <div class="medium-heading mt50 mb15">3.Steps </div>
                 
                    <p class="para-text">
                        Companies can
                        <b>engage with faculty and students</b> of Union through projects.
                        <br> Follow the simple steps to post projects on the Union’s dedicated live projects platform
                        <b>TakeUp.in.</b>
                    </p>
                    <div class="slider-for-company wow fadeInUp mt20" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                        <ul class="consulting-projects-list wow fadeInUp">
                            <li>
                                <span class="rounded-circle center-middle text-medium">1st Step</span>
                         
                                <p class="para-text">Go to link</p>
                            </li>
                            <li>
                                <span class="rounded-circle center-middle">2nd Step</span>
                                <p class="para-text">Fill details about the project</p>
                            </li>
                            <li>
                                <span class="rounded-circle center-middle">3rd Step</span>
                                <p class="para-text">Post the project</p>
                            </li>
                            <li>
                                <span class="rounded-circle center-middle">4th Step</span>
                                <p class="para-text">Union will assign a teaching assistant </p>
                            </li>
                            <li>
                                <span class="rounded-circle center-middle"> 5th Step</span>
                                <p class="para-text">TA will assess the project and make sure  </p>
                               
                            </li>
                        </ul>
                        <a target="_blank" href="#" class="wow fadeInUp get-touch-btn">Go To Link
                            <i class="material-icons">double_arrow</i>
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
</section>

<section class="section-who cover-outer text-left dark-theme pt80 pb80 grey-bg"   id="student-engagement-activities">
    <div class="container pl350">
         <div class="row">
            <div class="col">
               <div class="heading-light mb10">ACTIVITIES</div>
                  <div class="heading-large">Student Engagement Activities</div>


                <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                    <div class="medium-heading mt30 mb20">1. Collaborative Classroom </div>
                 
                    <p class="para-text">We invite you to run branded case competitions and hackathons to engage students competitively.
                        <br> A proven hiring practice, such competitions make for very insightful outcomes for the company and
                        deep learning outcomes for the students.
                    </p>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <i class="material-icons"> alarm </i>
                                </figure>
                                <span>Duration</span>
                          
                                <div class="sup-medium-heading "> 2-6 weeks </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon5.svg" alt="Events" src="https://cdn.mastersunion.org/assets/img/com-icon5.svg">
                                </figure>
                                <span># of Events</span>
                                <div class="sup-medium-heading "> 1-2 </div>
                             
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon8.svg" alt="Students Engaged" src="https://cdn.mastersunion.org/assets/img/com-icon8.svg"> </figure>
                                <span>Students Engaged</span>
                          
                                 <div class="sup-medium-heading "> Upto 100 </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 ">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon1.svg" alt="location" src="https://cdn.mastersunion.org/assets/img/com-icon1.svg">
                                </figure>
                                <span>Location</span>
                                 <div class="sup-medium-heading ">Masters' Union Campus
                                    <br> or On Site </div>
                             
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 ">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon4.svg" alt="Company Commitments" src="https://cdn.mastersunion.org/assets/img/com-icon4.svg"> </figure>
                                <span>Company Commitments</span>
                                 <div class="sup-medium-heading ">Problem Statement
                                    <br> 3-4 Mid-Management Mentors for upto 12 hours over a month </div>
                                <h5> </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="classroom-slideOutr slider-for-companyOuter ">
                    <div class="medium-heading mt50 mb20">2. Corporate Mentors </div>
                   
                    <p class="para-text mb20">In order to make a real &amp; lasting impact on a student’s life &amp; career, we believe one on one mentorship
                        with mid-management professional can go long way.
                        <br> This also opens up opportunities for effective recruitment. </p>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 mt20">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon1.svg" alt="location" src="https://cdn.mastersunion.org/assets/img/com-icon1.svg">
                                </figure>
                                <span>Location</span>
                                <div class="sup-medium-heading ">Virtual &amp; Flexible </div>
                          
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon6.svg" alt="Mentors" src="https://cdn.mastersunion.org/assets/img/com-icon6.svg">
                                </figure>
                                <span># of Mentors</span>
                                  <div class="sup-medium-heading ">5-15 </div>
                            
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 ">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon8.svg" alt="Students Engaged" src="https://cdn.mastersunion.org/assets/img/com-icon8.svg"> </figure>
                                <span>Students Engaged</span>
                                    <div class="sup-medium-heading ">Upto 30</div>
                            
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon4.svg" alt="Company Commitments" src="https://cdn.mastersunion.org/assets/img/com-icon4.svg"> </figure>
                                <span>Company Commitments</span>
                                <div class="sup-medium-heading ">5-15 Mid-Management Professionals
                                    <br> 1-2 hours a month</div>
                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                  
                     <div class="medium-heading mt50 mb20">3. Corporate Mentors </div>
                    <p class="para-text mb20">We would love to host your executive team to deliver a TED style keynote to the entire student body.
                        <br> These are interactive and interview style with a rich Q&amp;A experience, followed by a reception at
                        the end. </p>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon1.svg" alt="location" src="https://cdn.mastersunion.org/assets/img/com-icon1.svg">
                                </figure>
                                <span>Location</span>
                                     <div class="sup-medium-heading ">Masters' Union Campus</div>
                            
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon7.svg" alt="Mentors" src="https://cdn.mastersunion.org/assets/img/com-icon7.svg">
                                </figure>
                                <span># of Keynotes</span>
                                 <div class="sup-medium-heading ">1-2</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon8.svg" alt="Students Engaged" src="https://cdn.mastersunion.org/assets/img/com-icon8.svg"> </figure>
                                <span>Students Engaged</span>
                            
                                   <div class="sup-medium-heading ">Upto 300</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 mt20">
                            <div class="slider-for-company collaborative-section wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                                <figure>
                                    <img class=" ls-is-cached lazyloaded" data-src="https://cdn.mastersunion.org/assets/img/com-icon4.svg" alt="Company Commitments" src="https://cdn.mastersunion.org/assets/img/com-icon4.svg"> </figure>
                                <span>Company Commitments</span>
                                   <div class="sup-medium-heading ">CXO for 2 hours, can be scheduled as per convenience</div>
                         
                            </div>
                        </div>
                    </div>
                    <a target="_blank" href="/contact-us" class="wow fadeInUp get-touch-btn ">Get in Touch Now
                        <i class="material-icons">double_arrow</i>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>



<section class="section text-left pt80 pb80 cover-outer" id="recruitment">
    <div class="container pl350">
        <div class="row">
            <div class="heading-large mb15">Recruitment</div>
            <div class="classroom-slideOutr slider-for-companyOuter nor-border">
                <div class="slider-for-company wow fadeInUp" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                 
                       <div class="medium-heading">How to Recruit from the Union? </div>
                    <p class="para-text">Easy Steps:</p>


                    <ul class="consulting-projects-list consulting-rec-list wow fadeInUp mt20">
                        <li>
                            <span class="rounded-circle center-middle">1st
                                <br> Step</span>
                            <div class="wow fadeInUp positionR">
                                <div class="sup-medium-heading mt10">Explore Talent:</div>                         
                                <p class="para-text mt10">Explore talent by accessing of all the students from Union’s global 
                                    directory recruitfromunion.com.</p>
                                 
                             
                            </div>
                        </li>
                        <li>
                            <span class="rounded-circle center-middle">2nd
                                <br> Step</span>
                            <div class="wow fadeInUp positionR">
                            
                                    <div class="sup-medium-heading mt10">Post a Job</div>
                                <p class="para-text mt10">Post relevant details about the job and the company on the portal.</p>
                            </div>
                        </li>
                        <li>
                            <span class="rounded-circle center-middle">3rd
                                <br> Step</span>
                            <div class="wow fadeInUp positionR">
                          
                                  <div class="sup-medium-heading mt10">Plan your Visit</div>
                                <p class="para-text mt10">Schedule your visit using the Union’s recruitment calendar planner.</p>
                            </div>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/for-companies") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>

