<div class="cover-outer">
    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Hostels </h5>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
</div>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">            
           <div class="heading-extra-large">Features</div>              
            </div>


  
             <div class="pt50 col-md-8 ">
                <div class="heading-large mb15">Fully Furnished Modern Rooms</div>
                <p class="para-text mt15">Interdisciplinary hubs for research in advanced computer science </p>
                <div class="cover-outer border-left">
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Basic amenities: Almirah, a study table and a chair for each student</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Window curtains, glasses and bottles in each room</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>Bedding per student: A mattress, a pillow, bed sheet and pillow cover</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Bathroom amenities: Hot water available in attached/common washroom and bathmats</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>Pantry: Induction stoves, cutlery (plates, bowls, basic kitchenware, knives, spoons and glasses) dining table</p>
                </div>              
            </div>

            <div class="col-md-4">
                
            </div>


                <div class="pt50 col-md-8">
                <div class="heading-large mb15">Interactive Common Areas</div>
                <div class="cover-outer border-left">
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> TV lounge,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Window curtains, glasses and bottles in each room</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>On-site gym,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Reading room,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>Dining area,</p>
                </div>              
            </div>

            <div class="col-md-4">
                
            </div>


          <div class="cover-outer">
                <div class="pt50 col-md-8">
                <div class="heading-large mb15">Vibrant Interiors</div>
                       <p class="para-text mt15">Exclusive colour palette designed in harmony with interactive themes to create a memorable student life.
                            Cheerful hues juxtaposed with neutral tones – 
                           striking a balance of old-school comfort and new-age innovation. </p>
                <div class="cover-outer border-left">
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> TV lounge,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Window curtains, glasses and bottles in each room.</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>On-site gym,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> Reading room,</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>Dining area,</p>
                </div>              
            </div>

            <div class="col-md-4">
                
            </div>
            </div>
           

        </div>
    </div>
</section>







<section class="cover-outer pt80 pb80">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">            
           <div class="heading-extra-large">Services</div>         
            </div>


            <div class="cover-outer  mt20">
                  <div class="heading-large mb15">  High Quality Amenities  </div>

                  <div class="heading-large Accomodation Fees"></div>
            </div>

            <div class="left-border-text mt20">
                <div class="border-left">
                    <div class="heading-medium mb15">Quality Services:</div>
                    <div class="para-text">ISO certified vendors, FSSAI licensed,
                         branded ingredients,ISO certified vendors, FSSAI licensed,
                         branded ingredients</div>
                </div>

                <div class="border-left">
                    <div class="heading-medium mb15">Professional Housekeeping</div>
                    <div class="para-text">On-demand facility available, two times mandatory 
                        cleaning of entire campus, ESI-PF police-verified staff, frequent pest 
                        control and dis-infecting</div>
                </div>

                <div class="border-left">
                    <div class="heading-medium mb15">High Speed Internet</div>
                    <div class="para-text">24x7 high-speed internet in a well-designed network
                        with secure connections and efficient bandwidth allocation to ensure 
                        quality connection service</div>
                </div>

                  <div class="border-left mt20">
                    <div class="heading-medium mb15">Grade-A Security</div>
                    <div class="para-text">24x7 multilayer security solutions at entry and exit, trained
                         security guards, CCTV cameras and biometric access cards, incidence-based alerts
                          and a rapid response team</div>
                </div>

                  <div class="border-left mt20">
                    <div class="heading-medium mb15">Other Facilities</div>
                    <div class="para-text">Laundry
                        On-call doctor Vending machine
                        Photocopier/Printer and scanner
                        On-demand travel concierge</div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">            
           <div class="heading-extra-large">Fee Details</div>         
            </div>


            <div class="cover-outer  mt20">
                  <div class="heading-large mb15"> Accomodation Fees </div>
            </div>

            <div class="left-border-text mt20">
             <div class="heading-medium mb20">Occupancy and per head charges for a duration of 16 months:</div>

                <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb20 mt10">Twin Sharing</div>
                    <div class="heading-medium mb15"> INR 2,72,000 (+18% GST)</div>
                    <div class="para-text">(Inclusive of rental and other charges)</div>
                </div>

                  <div class="border-left">
                 <i class="material-icons">  schedule  </i>
                      <div class="para-text mb20 mt10">Single Occupancy</div>
                    <div class="heading-medium mb15"> INR 3,60,000 (+18% GST)</div>
                    <div class="para-text">(Inclusive of rental and other charges)</div>
                </div>
 
            </div>


             <div class="left-border-text mt20">

                <div class="border-left">
                      <div class="heading-medium mb15"> Per Head Inclusions:</div>
                     <div class="para-text">One storage bed & a pillow,</div>

                    <div class="para-text">One bed, a mattress & a pillow,</div>
                    <div class="para-text">One almirah,</div>
                        <div class="para-text">Two pillow covers & two bedsheets</div>
                </div>


                  <div class="border-left">
                
                    <div class="heading-medium mb15"> Per Room Inclusions:</div>
                    <div class="para-text">One AC,</div>
                    <div class="para-text">One set of window curtains,</div>
                       <div class="para-text">  Television & fridge(on request & chargeable)</div>
                  
                </div>
 
            </div>

        </div>
    </div>
</section>



<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/hostel") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>