<section class="pt80 pb80 cover-outer">
    <div class="container">
        <div class="row">

            <div class="col">
                <h1 class="heading-extra-large mb30" data-wow-delay=".3s">We are hiring  </h1>
            </div>

            <div class="section-career wow fadeInUp" data-wow-delay=".51s">
                <div class="career-left wow fadeInUp">
                    <form class="career-search">
                        <input type="text" id="searchText" placeholder="Find your role">
                        <input type="button">
                    </form>
                    <h5 class="wow fadeInUp career-filter-section sup-medium-heading">Filter by department</h5>
                    <ul class="department-list mhide">
                        
                        
                        <li id="teachingCountCheck">
                            <a href="#">Teaching &amp;
                                Faculty
                                <span id="teachingCount">5</span>
                            </a>
                        </li>
                        <li id="managementCountCheck">
                            <a href="#">Management
                                <span id="managementCount">1</span>
                            </a>
                        </li>
                        <li id="academicAffairsCountCheck">
                            <a href="#">Academic
                                Affairs
                                <span id="academicAffairsCount">2</span>
                            </a>
                        </li>
                        <li id="studentAffairsCountCheck">
                            <a href="javascript:void(0);" onclick="filterDepartment('student Affairs')">Student Affairs
                                <span id="studentAffairsCount">1</span>
                            </a>
                        </li>
                        <li id="careerServiceCountCheck">
                            <a href="javascript:void(0);" onclick="filterDepartment('career Services')">Career Services
                                <span id="careerServiceCount">2</span>
                            </a>
                        </li>
                        <li id="marketCountCheck">
                            <a href="javascript:void(0);" onclick="filterDepartment('marketing')">marketing
                                <span id="marketingCount">1</span>
                            </a>
                        </li>
                        <li id="operationsCountCheck">
                            <a href="javascript:void(0);" onclick="filterDepartment('operations')">operations
                                <span id="operationsCount">1</span>
                            </a>
                        </li>
                    </ul>


                    <div class="positionR dhide">
                        <div class="dropdown dep-mob" id="depMob">
                            <div class="select" id="dvSelect">
                                <span id="spnSelect">Select department</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterDepartment('sales',this)">
                                    <a href="javascript:void(0);">Sales </a>
                                </li>
                                <li onclick="filterDepartment('dataScience',this)">
                                    <a href="javascript:void(0);"> Data Science </a>
                                </li>
                                <li onclick="filterDepartment('teaching &amp; Faculty',this)">
                                    <a href="javascript:void(0);">Teaching &amp; Faculty
                                    </a>
                                </li>
                                <li onclick="filterDepartment('academic Affairs',this)">
                                    <a href="javascript:void(0);">Academic Affairs
                                    </a>
                                </li>
                                <li onclick="filterDepartment('student Affairs',this)">
                                    <a href="javascript:void(0);">Student Affairs
                                    </a>
                                </li>
                                <li onclick="filterDepartment('career Services',this)">
                                    <a href="javascript:void(0);">Career Service
                                    </a>
                                </li>
                                <li onclick="filterDepartment('engineering',this)">
                                    <a href="javascript:void(0);">engineering </a>
                                </li>
                                <li onclick="filterDepartment('marketing',this)">
                                    <a href="javascript:void(0);">marketing
                                    </a>
                                </li>
                                <li onclick="filterDepartment('operations',this)">
                                    <a href="javascript:void(0);">operations </a>
                                </li>
                                <li onclick="filterDepartment('outreach',this)">
                                    <a href="javascript:void(0);">outreach </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5 class="wow fadeInUp career-filter-section sup-medium-heading">Filter by location</h5>
                    <ul class="department-list mhide">
                        <li id="gurugramCountCheck">
                            <a href="javascript:void(0);" onclick="filterLocation('Cyberpark, Gurugram')">Gurugram
                                <span id="gurugramCount">13</span>
                            </a>
                        </li>
                        
                        
                    </ul>

                    <div class="positionR dhide">
                        <div class="dropdown dep-mob" id="locMob">
                            <div class="select" id="dvLoc">
                                <span class="clsonLoc" id="spnLoc">Select location</span>
                                <i class="material-icons"> keyboard_arrow_down </i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li onclick="filterLocation('Cyberpark, Gurugram',this)">
                                    <a href="javascript:void(0);">Gurugram </a>
                                </li>
                                <li onclick="filterLocation('remoteJob',this)">
                                    <a href="javascript:void(0);">Remote job
                                    </a>
                                </li>
                                <li onclick="filterLocation('fieldJob',this)">
                                    <a href="javascript:void(0);">Field job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="career-right wow fadeInUp" id="careerDiv"> <a href="jobs/marketing" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Marketing</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Teaching assistant</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Academic Affairs Manager</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Program Manager-Events/Student Life</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Marketing and Analytics</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Sr. Manager/Manager- Outreach</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Social Media Manager</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Sr. /Mgr Operations - General Administration</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Finance and Economics</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Career Development</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 15th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Strategy/Strategic Management</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 17th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Executive Education Head</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 17th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a> <a href="#" class="career-list">
                                <div class="career-list-content">
                                    <h4 class="career-list-heading wow fadeInUp title sup-medium-heading">Head- Corporate Relations and Masters Outreach</h4>
                                    <p class="career-list-text wow fadeInUp para-text">Posted on: 17th Apr 2021</p>
                                </div>
                                <button type="button" class="career-apply-link wow fadeInUp">Apply</button>
                    </a></div>


            </div>
        </div>
    </div>
</section>








<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>
        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/jobs") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>