<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">

            <div class="cover-outer">
                <div class="heading-light mb10">World Class Instrutors</div>
                <div class="heading-large mb15"> Classes Taught by Real Creators</div>
            </div>

            <div class="cover-outer">    
              <div class="three-masters">
                    <div class="three-masters-detail  mr20">
                        <img src="../assets/Images/Anit-Mathur-m.jpg" class="img-fluid" alt="">
                        <div class="master-box-content">
                            <div class="heading-medium mt20">Akhil Mathur</div>
                            <p class="master-post-text mt10"> Principal Research Scientist, Bell Labs</p>
                            {{!-- <div class="alma-master-text mt20">Alma Mater</div>
                            <p class="para-text">  University College London</p> --}}
                            <div class="read-more-btn mt25">
                                <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                            </div>
                        </div>
                    </div>

                    <div class="three-masters-detail  mr20">
                        <img src="../assets/Images/Anit-Bhandari-m.jpg" class="img-fluid" alt="">
                        <div class="master-box-content">
                            <div class="heading-medium mt20">Anit Bhandari</div>
                            <p class="master-post-text mt10"> Former Lead, Data Science, VMware</p>
                             {{!-- <div class="alma-master-text mt20">Alma Mater</div>
                               <p class="para-text">  IIM Bangalore</p> --}}
                            <div class="read-more-btn mt25">
                                <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                            </div>
                        </div>
                    </div>

                    <div class="three-masters-detail  mr20">
                        <img src="../assets/Images/anuj-garg-m.jpg" class="img-fluid" alt="">
                        <div class="master-box-content">
                            <div class="heading-medium mt20">Anuj Garg</div>
                            <p class="master-post-text mt10"> Innovation and Blockchain Leader, IBM</p>
                            <div class="read-more-btn mt25">
                                <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cover-outer horizontal-master-box mt20">
                <ul>
                    <li class="align-in-row mr15">
                        <div>
                            <img src="../assets/Images/Balaji-Krish-horizontal.jpg" alt="">
                            <div class="read-more-btn ">
                                <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                            </div>
                        </div>

                        <div class="master-box-content ml10">
                            <div class="heading-medium ">Balaji Krish</div>
                            <p class="para-text mt10 mb10"> VP, Walmart Connect</p>
                            <p class="master-post-text mb10">Former MD, Twitter India</p>

                              {{!-- <div class="alma-master-text ">Alma Mater</div>
                               <p class="para-text">  The Wharton School</p> --}}
                            
                        </div>
                    </li>

                    <li class="align-in-row">
                        <div>
                            <img src="../assets/Images/Harshil-Mathur-horizontal.jpg" alt="">
                            <div class="read-more-btn ">
                                <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                            </div>
                        </div>


                        <div class="master-box-content ml10">
                            <div class="heading-medium ">Harshil Mathur</div>
                              <p class="master-post-text mb10 mt10">CEO & Co-Founder, <br> Razorpay</p>
                       {{!-- <div class="alma-master-text ">Alma Mater</div>
                               <p class="para-text"> IIT Roorkee</p> --}}
                        </div>
                    </li>
                </ul>
            </div>




            <div class="cover-outer masters-section home-master-section">
                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Pankaj-Mittal.jpg" alt="">
                    <div class="heading-medium mt20">Pankaj Mittal</div>
                     <p class="master-post-text mt10">Former Head, Data Centre, Vodafone</p>
                  
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Rahul-Bhargava.jpg" alt="">
                    <div class="heading-medium mt20">Rahul Bhargava</div>
                    <p class="master-post-text mt10">CPTO, InCred</p>
                    
                      {{!-- <div class="alma-master-text mt20">Alma Mater</div>
                               <p class="para-text"> Harvard Business School</p> --}}
                 
        
                    <div class="read-more-btn">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Rishi-Mohan.jpg" alt="">
                    <div class="heading-medium mt20">Rishi Mohan Bhatnagar</div>
                       
                       <p class="master-post-text"> President, Aeris Communications</p>
               
                 {{!-- <p class="master-post-text ">Former Global Head, Digital Enterprise, Tech Mahindra</p> --}}
                
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Sriram.jpg" alt="">
                    <div class="heading-medium mt35">Sriram Rajagopal</div>
                    <p class="para-text mt15"> <span>Former SVP, Cognizant</span> </p>
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>


                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Sundar-narayanan.jpg" alt="">
                    <div class="heading-medium mt35">Sundararajan Narayanan</div>
                    <p class="para-text mt15"> <span>Chief People Officer, Virtusa</span> </p>
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>


                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Vikas-Gulati.jpg" alt="">
                    <div class="heading-medium mt35">Vikas Gulati</div>
                    <p class="para-text mt15"> <span>Founder, SquadStack Forbes 30 under 30</span> </p>
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/KR-Sanjiv.jpg" alt="">
                    <div class="heading-medium mt35">KR Sanjiv</div>
                    <p class="para-text mt15"> <span>Former CTO, Wipro</span> </p>
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/Manish-maheshwari.jpg" alt="">
                    <div class="heading-medium mt35">Manish Maheshwari</div>
                    <p class="para-text mt15"> <span>MD, Twitter India</span> </p>
                    {{!-- <p class="mt25"> <span>Alma Mater </span> <br>The Wharton School</p> --}}
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>

                <div class="masters-long-box mr20">
                    <img src="../assets/Images/mukesh-jain.jpg" alt="">
                    <div class="heading-medium mt35">Mukesh Jain</div>
                    <p class="para-text mt15"> <span>CTO, Capgemini India</span> </p>
                    <div class="read-more-btn mt25">
                        <a class="green-clr read-more view-profile" href="#">VIEW PROFILE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light">PROGRAMME</div>
                <div class="heading-large mT5 mb10"> Industry Immersed Curriculum</div>
            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">1. New Age Programs Not available in India anywhere</div>
                <p class="para-text mb25">To help navigate their careers better, each student is partnered with a
                    Master-mentor
                    who personally guides them through their journey. To help navigate their careers better, each
                    student is
                    partnered with a Master-mentor who personally guides them through their journey. To help navigate
                    their
                    careers better, each student is partnered with a Master-mentor who personally guides them through
                    their journey.</p>
            </div>


            <div class="cover-outer">
                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Real-life business
                    consulting projects business consulting </p>

                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Sponsored by top companies
                    across industries companies acros</p>

                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Personalised feedback from
                    industry veterans feedback from industry</p>
            </div>

            <div class="cover-outer pt50">
                <div class="medium-heading mb15">2.Courses Led by Top Industry Masters</div>
                <p class="para-text mb25">To help navigate their careers better, each student is partnered with a
                    Master-mentor who personally guides them through their journey. p>
            </div>

            <div class="cover-outer left-border-remove mt10">
                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Access to resources</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15"> Mentorship </p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Legal and Accounts Clinic</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Fundraising Clinic</p>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="cover-outer pt50">

                <div class="heading-large mb15">3.Product Development Led Approach</div>
                <p class="para-text">To help navigate their careers better, each student is partnered with a
                    Master-mentor who personally guides them through their journey. </p>
            </div>
            <div class="cover-outer">
                <ul class="align-in-row mt25 Concen-CourseOuter Product-Development">
                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Hackathons</div>
                            <p class="para-text mt15">To help navigate their careers better, each student is partnered
                                with a Master-mentor who personally guides them through their journey.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Product Development Focus</div>
                            <p class="para-text mt15">Focus on personal growth and holistic development in a group
                                and as an individual.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner, intellectual or
                                artist and is duty-bound to support the others throughout their lives.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 full-width-card-section grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-large mb15">4. Research and IP Creation</div>
                <p class="para-text">To help navigate their careers better, each student is partnered with a
                    Master-mentor who personally guides them through their journey. Master-mentor who personally guides
                    them through their journey. Master-mentor who personally guides them through their journey. </p>

                <p class="para-text"> To help navigate their careers better, each student is partnered with a
                    Master-mentor who personally guides them through their journey. Master-mentor who personally guides
                    them through their journey. Master-mentor who personally guides them through their journey. </p>
            </div>

            <div class="cover-outer">
                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <div class="heading-medium mb15 mt15">Lifelong Membership of the Union</div>
                            <p class="para-text mt15">Students stay on as Union members with access to
                                coworking space, leadership lectures, daily dinners and benefits.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <div class="heading-medium mb15 mt15">Networking Dinners</div>
                            <p class="para-text mt15">Union with the help of various student
                                clubs, organizes theme-based networking dinners to expose students
                                to leaders and veterans from various walks of life.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <div class="heading-medium mb15 mt15">Masters’ Access</div>
                            <p class="para-text mt15">As a student, you have access to any Master
                                during their office hours. You can discuss ideas, evaluate proposals
                                and get feedback on your tasks.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner,
                                intellectual or artist and is duty-bound to support each other
                                throughout their lives.</p>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="cover-outer mt50 text-left">
                <button class="small-btn"> <a href="javascript:void(0);">APPLY NOW</a></button>
            </div>

            <div class="cover-outer pt50">

                <div class="heading-large mb15">5.Career Services</div>
                <p class="para-text mb15">To help navigate their careers better, each student is partnered with a
                    Master-mentor who personally guides them through their journey. </p>
            </div>

            <div class="cover-outer pb60 career-tab mb15">
                <ul class="align-space-between Concen-CourseOuter">
                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"> <img src="../assets/Images/icons/Software-Eng-ico.png" alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium">Software <span>Engineering</span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium">Product <span> Development</span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/design-think-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium">Design<span> Thinking</span> </h6>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="para-text">
                    To help navigate their careers better, each student is partnered with a Master-mentor who personally
                    guides them through their journey. To help navigate their careers better, each student is partnered
                    with a Master-mentor who personally guides them through their journey. To help navigate their
                    careers better, each student is partnered with a Master-mentor who personally guides them through
                    their journey.
                </div>
            </div>

            <div class="cover-outer">
                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Real-life business
                    consulting projects business consulting </p>

                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Sponsored by top companies
                    across industries companies acros</p>

                <p class="sub-points-text"> <i class="material-icons pr10">check_circle </i> Personalised feedback from
                    industry veterans feedback from industry</p>
            </div>
        </div>
    </div>
</section>



<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">Browse Categories</div>
                <div class="heading-large mb15">Explore Our Courses For Your Business Solutions</div>
            </div>

            <div class="cover-outer">
              <ul class="align-in-row two-card-section">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Explore-course-1.jpg" alt=""> <br>

                            <div class="down-content">

                              <div>
                                <p class="small-heading mt10">Advanced Issues in Object Oriented Programming</p>
                                <div class="event-para-text mb20">Introduces modern techniques in realistic computer graphics and image synthesis particularly...</div>
                                <span class="date-text mt20">READ MORE</span>
                             </div>

                           

                            <div class="align-space-between">

                                <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/yellow-star.png" alt=""></div>
                                    <div>4.5</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/avatar.png" alt=""></div>
                                    <div>95k</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div> <img src="../assets/Images/back-btn.png" alt=""></div>
                                </div>    
                                </div>
                            </div>
                        </div>
                    </li>

                   <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Explore-course-2.jpg" alt=""> <br>

                            <div class="down-content">

                              <div>
                                <p class="small-heading mt10">Advanced Issues in Object Oriented Programming</p>
                                <div class="event-para-text mb20">Introduces modern techniques in realistic computer graphics and image synthesis particularly...</div>
                                <span class="date-text mt20">READ MORE</span>
                             </div>

                           

                            <div class="align-space-between">

                                <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/yellow-star.png" alt=""></div>
                                    <div>4.5</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/avatar.png" alt=""></div>
                                    <div>95k</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div> <img src="../assets/Images/back-btn.png" alt=""></div>
                                </div>    
                                </div>
                            </div>
                        </div>
                    </li>
              </ul>

                <ul class="align-in-row two-card-section mt40">
                 <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Explore-course-3.jpg" alt=""> <br>

                            <div class="down-content">

                              <div>
                                <p class="small-heading mt10">Advanced Issues in Object Oriented Programming</p>
                                <div class="event-para-text mb20">Introduces modern techniques in realistic computer graphics and image synthesis particularly...</div>
                                <span class="date-text mt20">READ MORE</span>
                             </div>

                           

                            <div class="align-space-between">

                                <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/yellow-star.png" alt=""></div>
                                    <div>4.5</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/avatar.png" alt=""></div>
                                    <div>95k</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div> <img src="../assets/Images/back-btn.png" alt=""></div>
                                </div>    
                                </div>
                            </div>
                        </div>
                    </li>


                     <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Explore-course-4.jpg" alt=""> <br>

                            <div class="down-content">

                              <div>
                                <p class="small-heading mt10">Advanced Issues in Object Oriented Programming</p>
                                <div class="event-para-text mb20">Introduces modern techniques in realistic computer graphics and image synthesis particularly...</div>
                                <span class="date-text mt20">READ MORE</span>
                             </div>

                           

                            <div class="align-space-between">

                                <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/yellow-star.png" alt=""></div>
                                    <div>4.5</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div class="pt10"> <img src="../assets/Images/avatar.png" alt=""></div>
                                    <div>95k</div>
                                </div>

                                 <div class="align-in-row align-items-center">
                                    <div> <img src="../assets/Images/back-btn.png" alt=""></div>
                                </div>    
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
</div>



<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15"> 9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>
            </div>
        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong> Privacy Policy <strong>.</strong> Licence
                        <strong>.</strong> Copyright @2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/masters") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>