<div class="cover-outer">
    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Research
                        <span class="black-clr">Center</span>
                    </h5>

                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
</div>

<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">ABOUT </div>
                <div class="heading-large mb15">Research</div>
                <p class="para-text">One of the unique programme features of the Masters' Union is its commitment to
                    build
                    a strong research foundation that leverages the opportunities the new-age economy brings and also
                    addresses its key challenges, especially in the area of digital and emerging technologies that are
                    already
                    disrupting most industries and reshaping various sectors. </p>
                <br>
                <p class="para-text">The research findings from these state-of-the-art centers will help create new
                    business models
                    and craft novel business applications of several emerging technologies, leading to business
                    innovations in the
                    corporate world, as we contribute towards redefining the future of work..</p>
                <br>
                <p class="para-text">Furthermore, our resident Masters, representing various industry domains and
                    diverse academic disciplines,
                    will continue to be involved in original management research which will enrich the students'
                    learning experience, as is
                    the practice in most leading business schools across the world..</p>
            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 research-page">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">

                <div class="heading-large mb15">Blockchain Business Research Center</div>
                <p class="para-text">Innovating new business models using blockchain technology to transform traditional
                    businesses. </p>
              </div>

            <div class="cover-outer">
                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>
                </ul>



            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80 grey-bg research-page">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">

                <div class="heading-large mb15">Center for Applied Machine Learning</div>
                <p class="para-text">Most industries working with big data have recognized the value of Machine
                    Learning technology. By collecting insights from this data, organizations
                    are able to work more efficiently or gain an advantage over competitors. </p>

            </div>

            <div class="cover-outer">
                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box ">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>
                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>


                </ul>



            </div>


        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 research-page">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">

                <div class="heading-large mb15">Center for Platforms</div>
                <p class="para-text">This research center focusses on new business models emerging in the
                    form of platforms like Uber, Airbnb etc </p>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>



                </ul>



            </div>


        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg research-page">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">

                <div class="heading-large mb15">Global Private Equity Research Center</div>
                <p class="para-text">Center focussed on research for private equity and venture capital firms. </p>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>&amp; Resume Building</p>
                        </div>
                    </li>
                </ul>



            </div>

        </div>
    </div>
</section>

<section class="cover-outer pt80 pb80  research-page">
    <div class="container  pl350">
        <div class="row">
            <div class="cover-outer">

                <div class="heading-large mb15">Lab for Genetics & Biotech Businesses</div>
                <p class="para-text">Most industries working with big data have recognized the value of Machine Learning
                    technology.
                    By collecting insights from this data, organizations are able to work more efficiently or gain an
                    advantage
                    over competitors. </p>

            </div>


            <div class="cover-outer">

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                </ul>



            </div>

        </div>
    </div>
</section>


<footer class="footer-section cover-outer pt80 pb60 ">
    <div class="container">
        <div class="footer-items">
            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>
                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                     <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                      </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15"> 9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

<footer class="footer-main">
    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">
                <div class="col-md-12 text-center">
                    <p class="para-text"> Terms of Services <strong>.</strong> Privacy Policy <strong>.</strong> Licence
                        <strong>.</strong> Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav-2').find('a').each(function () {

      if ($(this).attr('href') == "/research") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>