<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">PGP AC</div>
                <div class="heading-large mb15"> Post Graduation Programme in Advanced Computing</div>
                <p class="large-para-text">The Post Graduate Programme in Advanced Computing is a 12-month programme,
                    tailor-made to master the past and design the future in technology, through <span> practitioner-led
                        classrooms, research orientation, and a project-driven pedagogy. </span></p>
            </div>


        </div>
    </div>
</section>







{{!-- <div class="cover-outer pt80 road-map-dropdown ">
    <div class="container">


        <table>
            <tr>
                <th>Course # </th>
                <th>Course Name </th>
                <th>Hours </th>
                <th>Schedule </th>
                <th>Professor </th>
            </tr>

            <tr>
                <td>001 </td>
                <td> <strong> Advanced Computer Graphics</strong>Introduces modern techniques in realistic computer
                    graphics and image synthesis, particularly image-based techniques for photorealism. </td>
                <td>4</td>
                <td>MWF</td>
                <td> <strong>Arun Maira</strong>Former Chairman, Boston Consulting Group</td>
            </tr>


            <tr>
                <td>001 </td>
                <td> <strong> Advanced Computer Graphics</strong>Introduces modern techniques in realistic computer
                    graphics and image synthesis, particularly image-based techniques for photorealism. </td>
                <td>4</td>
                <td>MWF</td>
                <td> <strong>Arun Maira</strong>Former Chairman, Boston Consulting Group</td>
            </tr>
        </table>
    </div>
</div> --}}




<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">PROGRAMME</div>
                <div class="heading-large mb15"> Programme Roadmap</div>

            </div>




            <div class="full-table table-responsive">


                <table class="bottom-table">
                    <tr class="top-table-row">
                        <th class="text-center green-clr">1 <br> TERM </th>
                        <th class="text-center green-clr">2 <br> TERM </th>
                        <th class="text-center green-clr">3 <br> TERM </th>
                        <th class="text-center green-clr">4 <br> TERM </th>
                        <th class="text-center green-clr">5 <br> TERM </th>
                        <th class="text-center green-clr">6 <br> TERM </th>
                        <th class="text-center green-clr">7 <br> TERM </th>
                        <th class="text-center green-clr">8 <br> TERM </th>
                    </tr>

                    <tr>

                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br>

                            {{!-- ====new ==== ==--}}
                            <div class="dropdown road-map-dropdown-outer">
                                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"> Read More</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="cover-outer road-map-dropdown ">
                                        <table>
                                            <tr>
                                                <th>Course # </th>
                                                <th>Course Name </th>
                                                <th>Hours </th>
                                                <th>Schedule </th>
                                                <th>Professor </th>
                                            </tr>

                                            <tr>
                                                <td>001 </td>
                                                <td> <strong> Advanced Computer Graphics</strong>Introduces modern
                                                    techniques in realistic computer
                                                    graphics and image synthesis, particularly image-based techniques
                                                    for photorealism. </td>
                                                <td>4</td>
                                                <td>MWF</td>
                                                <td> <strong>Arun Maira</strong>Former Chairman, Boston Consulting Group
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>001 </td>
                                                <td> <strong> Advanced Computer Graphics</strong>Introduces modern
                                                    techniques in realistic computer
                                                    graphics and image synthesis, particularly image-based techniques
                                                    for photorealism. </td>
                                                <td>4</td>
                                                <td>MWF</td>
                                                <td> <strong>Arun Maira</strong>Former Chairman, Boston Consulting Group
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            {{!-- =====new end ==== --}}
                        </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>

                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>

                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>


                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>

                    <tr>
                      <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>

                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                    </tr>


                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> Read More </td>
                        <td class="text-center green-clr"> </td>
                    </tr>

                    <tr>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr"> </td>
                        <td class="text-center green-clr table-spacing bg-green"> August-Sep <br> <a href="">Read More</a> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav').find('a').each(function () {

      if ($(this).attr('href') == "/roadmap") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav-2').find('a').each(function () {
            $(this).removeClass('active')
    });
  });

</script>