<div class="cover-outer">

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 header-text">
                    <h5 class="large-heading mb25">Staying Ahead of Our <br> Time <br>
                        <span class="black-clr">Advanced Computing</span>
                    </h5>
                    <p class="header-para-text">Grooming Tech-Leaders at India's First Institute offering<br> Post
                        Graduation in Advanced Computing Technologies<br> Through Applied Research. </p>
                </div>

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>



    <section class="grey-bg CoursePG ptb30 cover-outer">
        <div class="container">
            <div class="row">
                <div class="right-border-content">
                    <p class="header-para-text">Post Graduate Programme <br>
                        in Advanced Computing</p>
                </div>
                <ul>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons"> schedule </i>
                            <div class="ml10">
                                <span class="grey-clr">DURATION</span>
                                <p class="header-para-text">12 months</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons"> location_on </i>

                            <div class="ml10">
                                <span class="grey-clr">LOCATION</span>
                                <p class="header-para-text">Gurugram</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons"> watch </i>
                            <div class="ml10">
                                <span class="grey-clr">FORMAT</span>
                                <p class="header-para-text">Full Time</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                            <i class="material-icons">event </i>

                            <div class="ml10">
                                <span class="grey-clr">COMMENCEMENT DATE</span>
                                <p class="header-para-text">August 2021</p>
                            </div>
                        </div>
                    </li>


                </ul>



            </div>


        </div>
</div>
</section>



<section class="cover-outer pt80 pb80">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">APTITUDE</div>
                <div class="heading-large mb15">Competitions and Hackathons</div>
                <p class="para-text">Union’s student engagement team organises various
                    competitions and hackathons sponsored by companies.</p>
            </div>

            <div class="cover-outer">
                <div class="medium-heading mb15 mt25">1. Hackathons</div>

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>& Resume Building</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box mt20">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Personal Branding <br>& Resume Building</p>
                        </div>
                    </li>
                </ul>



            </div>


            <div class="cover-outer mt80">
                <div class="medium-heading mb15 mt25">2. Quiz Hosting</div>

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>



                </ul>



            </div>


            <div class="cover-outer mt80">
                <div class="medium-heading mb15 mt25">3. Business Simulation Games</div>

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">One-on-One <br> Mentorship</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Skill Development <br> Programmes</p>
                        </div>
                    </li>

                </ul>



            </div>



            <div class="cover-outer mt80">
                <div class="medium-heading mb15 mt25">4. Business Competitions</div>

                <ul class="align-in-row mt25 four-card-section">
                    <li>
                        <div class="left-border-sqaure-box">
                            <img src="../assets/Images/icons/Product-develop-ico.png" alt="">
                            <p class="para-text mt15">Career Counselling <br> and Coaching</p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">APTITUDE </div>
                <div class="heading-large mb15"> Student Clubs</div>
                <p class="para-text">Masters’ Union is a community of creative and accomplished people from around the
                    world.</p>
            </div>



            <div class="cover-outer">

                <div class="medium-heading mb15 mt25">1. Business Clubs </div>
                <p class="para-text">Student led business clubs are responsible for organising business
                    focussed networking and speaker events on campus, as well as career treks.
                    Some of the current business clubs are:p>
                <ul class="align-space-between Concen-CourseOuter">
                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/artificial-intelligence-ico.png"
                                    alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Artificial <span> Intelligence </span> <br> Systems </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/robotic-arm-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Robotics </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Analytics-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Advanced-Data </span> Analytics </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Machine-learning-ico (2).png" alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Machine <span> Learning </span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                            </div>
                        </div>
                    </li>



                </ul>
            </div>




            <div class="cover-outer">

                <div class="medium-heading mb15 mt25">2. Art, Cultural and Recreational Clubs </div>
                <p class="para-text">Student led business clubs are responsible for organising business focussed
                    networking and speaker
                    events on campus, as well as career treks. Some of the current business clubs are:</p>
                <ul class="align-space-between Concen-CourseOuter">
                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/artificial-intelligence-ico.png"
                                    alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Artificial <span> Intelligence </span> <br> Systems </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/robotic-arm-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Robotics </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Analytics-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Advanced-Data </span> Analytics </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Machine-learning-ico (2).png" alt="">
                            </figure>
                            <div class="ml10">
                                <h6 class="text-medium"> Machine <span> Learning </span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="left-ico-section">
                            <figure class="mb-0"><img src="../assets/Images/icons/Cloud-saas-ico.png" alt=""></figure>
                            <div class="ml10">
                                <h6 class="text-medium"> <span>Cloud</span> and <span>SaaS </span> </h6>
                            </div>
                        </div>
                    </li>



                </ul>
            </div>


        </div>
    </div>
</section>




<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
         
     <div class="cover-outer pt50 ">
          <div class="heading-light mb10">APTITUDE </div>
                <div class="heading-large mb15"> Psychological Counselling for Self Development</div>
                <p class="para-text">Masters' Union Students have access to psychological counselling resources 
                    for holistic development as an individual. Masters' Union has partnered with YourDost, an acclaimed
                     counselling and emotional support platform that provide support to our students in the following ways:</p>
               

               <div class="aptitude-section">
                <div class="cover-outer">
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i> The students have 24*7 access to 
                    counseling over chat and video call</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>They have regular in-person meetings 
                    with a trained and certified psychological counsellor</p>
                    <p class="sub-points-text mt10"> <i class="material-icons mr15">check_circle </i>Students are assured of complete 
                    confidentiality</p>
                </div>

                <div class="dost-logo-right">
                    <figure> <img src="../assets/Images/Dost-logo.png" alt=""> </figure>
                </div>

                </div>


            </div>
        </div>
    </div>
</section>



<section class="cover-outer pt80 pb80 full-width-card-section grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">PROGRAMS</div>
                <div class="heading-large mb15"> Networking</div>
             
            </div>

              <div class="cover-outer">
                <ul class="align-in-row mt25 four-card-section">
                    <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Lifelong Membership of the Union</div>
                            <p class="para-text mt15">Students stay on as Union members with access to 
                                coworking space, leadership lectures, daily dinners and benefits.</p>  
                        </div>
                    </li>

                        <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Networking Dinners</div>
                            <p class="para-text mt15">Union with the help of various student 
                                clubs, organizes theme-based networking dinners to expose students 
                                to leaders and veterans from various walks of life.</p>  
                        </div>
                    </li>

                        <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Masters’ Access</div>
                            <p class="para-text mt15">As a student, you have access to any Master
                                 during their office hours. You can discuss ideas, evaluate proposals
                                  and get feedback on your tasks.</p>  
                        </div>
                    </li>

                       <li >
                        <div class="left-border-sqaure-box">  
                             <div class="heading-medium mb15 mt15">Resourceful Alumni Group</div>
                            <p class="para-text mt15">Each fellow is a verified business owner, 
                                intellectual or artist and is duty-bound to support each other
                                 throughout their lives.</p>  
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">DIRECTOR</div>
                <div class="heading-large mb15"> Meet The Director</div>
                
                <div class="left-ico-section">
                        <figure class="mb-0"><img src="../assets/Images/Adil-Shah.png" alt="">
                        </figure>
                        <div class="ml15">
                            <h6 class="text-medium"> Adil Shah </h6>
                            <p class="para-text">Director- Student Experience</p>
                        </div>
                    </div>

                <p class="para-text mt15">Mr. Adil Shah is a passionate academic administrator, filmmaker, and photographer. 
                    From the Young India Fellowship to ISDM and Vedica Scholars Programme for Women, he has rich experience 
                    working at the student interface of new-age innovative pedagogies. He comes highly skilled in communication,
                     content creation, management, and educational administration. His film, Life on Wheels was recognised as 
                     the best film at Verite Film Festival. He holds a Master’s degree in Mass Communication/ Media Studies from 
                     the University of Kashmir and brings his strong counselling skills as the Director of Student Experience at 
                     Masters’ Union. </p>


                     <div class="socialicons">
                            <a href="#">
                                <img class=" ls-is-cached lazyloaded" src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                            </a>
                            <a href="#">
                                <img class=" ls-is-cached lazyloaded" src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                            </a>
                          
                        </div>
            </div>

        </div>
    </div>
</section>


<section class="cover-outer pt80 pb80 grey-bg">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">FORM</div>
                <div class="heading-large mb15">Have More Questions?</div>
                <div class="heading-form mb10"> Get in Touch with us:</div>
            </div>



            <form id="my_form" class="masterForm">
                <div class="form-group">
                    <label>Name
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">mail_outline</i>
                        <input type="email" class="form-control" onblur="validateEmail(this)"
                            placeholder="john.doe@gmail.com" id="email" name="email">
                        <span class="msg-error" id="emailValidation"></span>
                    </div>
                </div>
                <div class="form-group form-text">
                    <label> Email Address
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons">person_outline</i>
                        <input type="text" onblur="validateName(this)" class="form-control" placeholder="john" id="name"
                            name="name">
                        <span class="msg-error" id="nameValidation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                        <i class="material-icons"> call </i>
                        <input type="tel" class="form-control" maxlength="10" id="mobile" onblur="validateMobile(this)"
                            placeholder="989898998" name="mobile">
                    </div>
                    <span id="mobileValidation" class="msg-error"></span>
                </div>
                <div class="form-group">
                    <label>Question?
                        <sup class="text-danger">*</sup>
                    </label>
                    {{!-- <div class="input-group">
                        <i class="material-icons">message</i>
                        <textarea class="form-control msg-textarea" id="message" onblur="validateMessage(this)"
                            placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div> --}}
                    <div class="input-group">
                        <i class=" material-icons">message</i>
                        <textarea class="form-control msg-textarea pr25 pl25" id="message"
                            onblur="validateMessage(this)" placeholder="Write your message" name="message"></textarea>
                        <span id="msgValidation" class="msg-error"></span>
                    </div>
                </div>

                <div class="form-group btn-outer mb0">
                    <button type="submit" class="nav-btn next">APPLY NOW</button>
                </div>

                <div id="result"></div>

            </form>



        </div>
    </div>
</section>





<section class="cover-outer pt80 pb80 ">
    <div class="container pl350">
        <div class="row">
            <div class="cover-outer">
                <div class="heading-light mb10">EVENTS</div>
                <div class="heading-large mb15">Events this week</div>

            </div>

            <div class="cover-outer">

                <ul class="align-in-row two-card-section">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">02 January, 2021</span>
                                <p class="small-heading mt10">Mistakes I Made as a Beginner in Programming</p>
                                <ul class="align-space-between viewM-outer mt20">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="align-in-row two-card-section mt40">
                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>

                            <div class="down-content">
                                <span class="date-text mt20">12 December, 2020</span>
                                <p class="small-heading mt10">Best Website Dashboard UI Examples for Design
                                    Inspiration</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr ">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="mr30">
                        <div class="long-ico-box">
                            <img src="../assets/Images/Event-1.png" alt=""> <br>
                            <div class="down-content">
                                <span class="date-text mt20">23 November, 2020</span>
                                <p class="small-heading mt10">Full Stack Developer Roadmap 2021 how to get Fast
                                    Development ?</p>
                                <ul class="align-space-between mt20  viewM-outer">
                                    <li class="orange-clr">View More</li>
                                    <li><span class="material-icons">share</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
</div>




<footer class="footer-section cover-outer pt80 pb60">
    <div class="container">
        <div class="footer-items">

            <div class="list-items">
                <figure class="footer-logo">
                    <img src="../assets/Images/Logo-white.png" alt="">
                </figure>

                <div>
                    <h2 class="footer-heading-text mt40">About</h2>
                    <p class="footer-para-text mt10">To help navigate their careers better, <br> each student is
                        partnered with <br> a Master-mentor</p>
                </div>

                <div class="socialicons">
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-fb.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-insta.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-tw.png">
                    </a>
                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-icon3.png">
                    </a>

                    <a href="#">
                        <img class=" ls-is-cached lazyloaded"
                            src="https://cdn.mastersunion.org/assets/img/social-linkedin.png">
                    </a>
                </div>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Services</h1>
                <ul>
                    <li>Become a master</li>
                    <li>Hire From us</li>
                    <li>Careers</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="list-items">
                <h1 class="footer-heading-text mb40">Address</h1>
                <p class="footer-para-text mt10">Masters' Union, Tower C, DLF Cyberpark, <br> Phase II, Udyog Vihar,
                    Sector 20, <br> Gurugram, Haryana 122008</p>
                <p class="footer-para-text mt15">  9898989898</p>
                <p class="footer-para-text mt15">SMAC@gmail.com</p>

               
            </div>




        </div>
    </div>

</footer>

<footer class="footer-main">

    <div class="footer-bar">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay=".3s">

                <div class="col-md-12 text-center">

                    <p class="para-text"> Terms of Services <strong>.</strong>  Privacy Policy <strong>.</strong>  Licence <strong>.</strong>  Copyright @2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
     $(document).ready(function () {
    $('.primary-nav-2').find('a').each(function () {

      if ($(this).attr('href') == "/student-life") {
        $(this).addClass('active')
      }
      else {
        $(this).removeClass('active')
      }
    });
    $('.primary-nav').find('a').each(function () {
            $(this).removeClass('active')
    });
    

  });

</script>


