@media (min-width: 1200px){
    .container {
        max-width: 1054px;
    }
    
}


@media (min-width: 1300px) and (max-width: 1500px) {
    .urban-outr.campusbg{min-height:450px!important;background-position:top}
    }
    @media (min-width: 1501px) and (max-width: 1800px) {
    .urban-outr.campusbg{min-height:600px!important;background-position:top}
    }
    @media (min-width: 1025px) and (max-width: 1281px) {
    nav.primary-nav-2 ul li a{font-size:13px}
    .admission-box-items{min-height:295px}
    .lighttheme nav.primary-nav-2 ul li a{font-size:14px}
    .header-main.homeheader.lighttheme a.floatDownloadBrochure{font:14px/16px nunitosans!important}
    header.header-main .cc-container a img{max-width:250px}
    .urban-outr.campusbg{min-height:400px!important;background-position:top}
    }
    @media(max-width:1200px) {
        .pl350 {
            padding-left: 300px!important;
             }
    .home-right{width:calc(100% - 500px)}
    .home-left{font-size:32px}
    nav.primary-nav-2 ul li{margin-right:12px}
    nav.primary-nav ul li{padding-right:0;margin-right:0}
    header.header-main .cc-container a img{max-width:200px}
    .lighttheme nav.primary-nav-2 ul li a{font-size:13px}
    }
    @media(max-width:1100px) {
    header.header-main .cc-container a.logo{margin-top:-30px}
    header.header-main .cc-container a img{max-width:160px}
    section.navigation-outer{width:calc(100% - 180px)}
    header.header-main .cc-container{width: 100%}
    .header-main nav.primary-nav-2 ul li a.apply-btn{padding:7px 10px 6px}
    nav.primary-nav-2 ul li{margin-right:10px}
    .header-main.homeheader nav.primary-nav-2 ul li a.apply-btn{padding:11px 10px 9px;max-width:115px}
    nav.primary-nav-2 ul li{margin-right:10px}
    .swiper-video{padding-bottom:56.25%}
    /* .c-2021-list-txt p{min-height:55px} */
    .logo-sec {flex-wrap: wrap;    justify-content: start;}
    .logo-sec figure {
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 17%;
    }
    }
    @media (min-width: 821px) and (max-width: 1024px) {
    .classroom-slideOutr .owl-nav button.owl-next,.admission-box.industry-boxes .owl-nav button.owl-next{right:-20px}
    .classroom-slideOutr .owl-nav button.owl-prev,.admission-box.industry-boxes .owl-nav button.owl-prev{left:-20px}
    div#whatpgp{padding-right:32px}
    ul.news-box{display:flex;flex-wrap:wrap}
    .section-news .news-left ul.news-box li{width:50%;min-height:auto}
    nav.primary-nav ul li,nav.primary-nav-2 ul li{margin-right:8px}
    header.header-main .cc-container a img{max-width:170px}
    section.navigation-outer{float:right}
    ul.mang-box li{flex:auto}
    .tab1-list .tab1-list-items{padding:20px}
    .corp-img img{height:180px;object-fit:cover}
    .mysection-business ul.admission-box.research-box{margin-top:0;flex-wrap:wrap}
    .mysection-business ul.admission-box.research-box li{flex:auto;width:calc(50% - 10px);padding:25px;margin-right:20px;margin-top:20px}
    .mysection-business ul.admission-box.research-box li:nth-of-type(1),.mysection-business ul.admission-box.research-box li:nth-of-type(2){margin-top:0}
    .mysection-business ul.admission-box.research-box li:nth-of-type(2n+2){margin-right:0}
    ul.bootcamp-box li{width:calc(33.33% - 25px);margin-right:25px;padding:15px;margin-bottom:20px}
    ul.bootcamp-box{flex-wrap:wrap}
    ul.fellow-box li{padding-right:20px}
    .news-links{width:calc(50% - 20px);margin-right:20px;margin-bottom:20px}
    .news-left{padding-left:10px}
    ul.news-box li .news-box-left+p span{line-height:1.5}
    .news-box-left{width:100px;padding:10px}
    .news-box-left+p{width:calc(100% - 100px);padding-left:20px;display:inline-block;line-height:1.3}
    footer ul,footer img{padding-left:0!important}
    .footer-input-outr{width:100%}
    .container{max-width:95%!important}
    .footer-outr{width:100%}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{margin-right:3px}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{padding-left:10px;padding-right:10px}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:135px!important}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{padding:0!important}
    ul.research-box li{width:calc(50% - 25px);margin-right:25px}
    .startup-block ul.bootcamp-box li{width:calc(25% - 10px);padding:15px;margin-right:10px;margin-bottom:0}
    ul.bootcamp-box.bootcamp-box li{margin-bottom:10px}
    .header-main.homeheader nav.primary-nav-2 ul li a.apply-btn{padding:9px 10px 7px;max-width:115px}
    .deadline-text{margin-top:0}
    nav.primary-nav ul li,nav.primary-nav-2 ul li,section.main-section.sticky nav.primary-nav-2 ul li{margin-right:6px}
    section.main-section.sticky nav.primary-nav-2{top:-13px}
    }
    @media (max-width: 490px) {
        .pl350 {
            padding-left: 10px!important;
        }
    .home-left{font-size:25px!important}
    ul.mang-box li label{font-size:24px!important;line-height:1.3}
    }

    @media (max-width: 500px) {
        .pl350 {
            padding-left: 10px!important;
        }
    }

    @media (min-width: 640px) and (max-width: 820px) {
    .admission-box-items{min-height:auto}
    .admission-box.industry-boxes.owl-carousel .admission-box-items{min-height:auto}
    .section-news .news-left ul.news-box li,ul.student-clubOutr li{width:calc(50% - 8px)!important}
    ul.fellow-box li:nth-child(even),.section-news .news-left ul.news-box li:nth-child(even),ul.student-clubOutr li:nth-child(even){float:right}
    .mysection-business ul.admission-box.research-box li,ul.admission-box li{width:calc(50% - 15px);margin-right:15px;margin-top:15px}
    .startup-block ul.bootcamp-box li,.tab1-list .tab1-list-items{width:calc(50% - 8px)!important;margin-right:15px!important;margin-top:15px!important;margin-bottom:0}
    .startup-block ul.bootcamp-box li:nth-of-type(2n+2){margin-right:0!important}
    .startup-block ul.bootcamp-box li:nth-of-type(1),.startup-block ul.bootcamp-box li:nth-of-type(2){margin-top:0!important}
    .startup-block ul.bootcamp-box li:nth-of-type(2n+2),.tab1-list .tab1-list-items:nth-of-type(2n+2){margin-right:0!important}
    .startup-block ul.bootcamp-box li:nth-of-type(1),.startup-block ul.bootcamp-box li:nth-of-type(2),.tab1-list .tab1-list-items:nth-of-type(1),.tab1-list .tab1-list-items:nth-of-type(2){margin-top:0!important}
    }
    @media (max-width: 821px) {

        ul.consulting-projects-list>li:after {
       display: none;
        }

        ul.consulting-projects-list {
            flex-wrap: wrap;
        }

        ul.consulting-projects-list>li:before {
           display: none;
        }

        footer .footer-items .list-items{
            width: 50%;
            margin-top: 40px;
        }

        .masters-long-box {
            width: 45%;
        }
       
        .four-box-with-border{
            width: 100%;
        }

        .four-box-with-border .four-box-no-space{
            width: 50%;
        }

       .event-schedule ul{
           width: 100%;
       } 

       .event-schedule ul li{
        width: 50%;
        margin-top: 30px;
    
    }

    .event-schedule .align-space-between .border-left{
        border-left: none;
    }

        .three-card-section li {
            width: 43%;
        }

        .long-box-career {
            width: 39.33%;
        }

        .ico-section .ico-section-width{
            width: 50%;
        }
    .bootcamp-box-table  .student-imgName-outer figure.table-studentImage { margin-bottom: 10px;}
    .bootcamp-box-table .student-imgName-outer > div {  width: 100%;}
    .bootcamp-box-table .table td, .bootcamp-box-table .table th { padding: 15px 10px;}
    .bootcamp-box-table  .course-content-table.cohort-second-table thead {visibility:visible;}
    .bootcamp-box-table  .course-content-table.cohort-second-table {margin-top: 0px; }
    .lighttheme .menu-arrow.l1::after { border-color: #4e5d64}
    .sub-menu-outer ul.for-sub-menu { position: unset;float: left;box-shadow: none; margin-left: 30px; visibility:visible; opacity: 1;background: transparent;transform: translateY(0px); }
    ul.for-sub-menu li a { position: relative;  }
    /* ul.for-sub-menu li a::before {content: "\00B0";position: absolute; font-size: 28px;top:50%;left: -3px;  color: #f12a2a;  } */
    .navigation-outer .for-sub-menu li:not(:last-child) a {   border-bottom: none; }
   ul.dropdown-menu.for-sub-menu, ul.dropdown-menu.for-sub-menu:focus, ul.dropdown-menu.for-sub-menu:active,ul.dropdown-menu.for-sub-menu.active { float: left; background: transparent;  border: 0;padding-left: 10px; padding-top: 0;position: unset;padding-bottom: 0; width: 100%;}
   ul.dropdown-menu.for-sub-menu .dropdown-submenu{padding-left: 15px;}
    .admission-box.industry-boxes .owl-nav button.owl-next,body .owl-nav button.owl-next,body .classroom-slideOutr .owl-nav button.owl-next{right:-30px!important;margin:0!important;position:absolute;float:none;display:flex;align-items:center;width:40px;height:40px;border-top-right-radius:50%;border-bottom-right-radius:50%;border-left:0!important;padding-left:3px!important}
    .admission-box.industry-boxes .owl-nav button.owl-prev,body .classroom-slideOutr .owl-nav button.owl-prev,body .owl-nav button.owl-prev,.highly-list-carousel .owl-prev{left:-30px!important;margin:0!important;position:absolute;float:none;display:flex;align-items:center;width:40px;height:40px;border-top-left-radius:50%;border-bottom-left-radius:50%;border-right:0!important;padding-right:3px!important}
    .tab1-list .tab1-list-items .leftoutr p{height:auto}
    .mysection-business ul.admission-box.research-box li{min-height:auto}
    .admission-box li span{min-height:auto;margin-bottom:0}
    .section-industry.padd100.text-left.wow.fadeInUp.grey-bg{padding-bottom:45px!important}
    .master-tabs ul.nav.nav-tabs li.nav-item{min-width:110px}
    #tabAdvisors .tab1-list-items:nth-of-type(1),#tabPractitioners .tab1-list-items:nth-of-type(1){margin-top:0!important}
    .target-outr{margin-bottom:0!important}
    .swiper-slide{width:280px!important}
    .admission-box-items{margin-bottom:10px!important}
    .sec-box{width:100%!important;margin-right:0}
    .digital-bootcamp ul.bootcamp-box li:last-child{margin:0!important}
    header.header-main{min-height:70px}
    header.header-main .cc-container a.logo{margin-left:20px}
    section.navigation-outer{width:0;transition:.5s ease-in-out;opacity:0;position:fixed;right:0;top:0;z-index:-1;transform:translate3d(262px,0px,0px);height:100%}
    .hamburger{display:block;float:right;margin-right:20px;height:23px}
    section.navigation-outer.mobile-menu{transition:.5s ease-in-out;height:100%;position:fixed;overflow-y:auto;top:0;right:0;background:#F8F9FD;width:250px;box-shadow:0 0 7px 0 rgba(0,0,0,0.18);opacity:1;z-index:99999;transform:translate3d(0px,0px,0px);display:flex;flex-direction:column;padding-top:40px;overflow-x:hidden}
    .hamburger-close{display:block;float:right;position:absolute;top:10px;right:10px}
    section.navigation-outer.mobile-menu .primary-nav{order:2;padding-top:15px;position:relative;margin-top:15px}
    section.main-section.sticky nav.primary-nav{opacity:1!important;pointer-events:inherit!important}
    section.navigation-outer.mobile-menu .primary-nav:before{width:calc(100% - 40px);height:1px;content:'';position:absolute;background:#e2e2e5;left:50%;top:0;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
    section.navigation-outer.mobile-menu .primary-nav-2{order:1}
    .lighttheme nav.primary-nav ul li a,.lighttheme nav.primary-nav-2 ul li a,nav.primary-nav-2 ul li a{color:#101010;font-size:14px!important;line-height:16px!important;z-index:1}
    .header-main nav.primary-nav-2 ul li a.apply-btn{padding:6px 14px 5px;margin:5px 0 6px 20px}
    a.floatDownloadBrochure,a.floatDownloadBrochure:link,a.floatDownloadBrochure:visited,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure,nav.primary-nav-2 ul li a.floatDownloadBrochure{width:100%;color:#101010;text-align:left}
    a.floatDownloadBrochure span,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure span,nav.primary-nav-2 ul li a.floatDownloadBrochure span{background:#FFEF62;color:#101010;float:left;padding:3px;font-weight:600}
    nav.primary-nav ul li,nav.primary-nav-2 ul li{padding:0;margin:0;width:100%;float:left}
    nav.primary-nav ul li a,nav.primary-nav-2 ul li a{opacity: 1;
        /* width: 100%; */
        float: left;
        padding: 12px 20px;
        /* display: inline-block; */
    }
    nav.primary-nav ul li a,.header-main.homeheader.lighttheme nav.primary-nav ul li a,.header-main.homeheader nav.primary-nav ul li a,.main-section nav.primary-nav ul li a{padding:8px 20px}
    section.main-section nav.primary-nav-2{padding-top:0;top:0}
    .cc-container{width:94%}
    header.header-main .cc-container a img{max-width:200px}
    .sec-mangleft{width:100%}
    ul.mang-box{margin:0;flex-wrap:wrap}
    .section-master{padding-top:50px;padding-bottom:40px}
    ul.mang-box li span{margin:10px 0}
    .right-side-box ul.mang-box>li{width:50%;margin:20px 0;margin-right:0;flex:auto}
    .master-tabs{top:-10px}
    .master-tabs ul.nav.nav-tabs{width:auto;min-width:auto;padding:5px}
    .master-tabs ul.nav.nav-tabs a.nav-link{padding:8px 16px}
    .urban-outr{min-height:auto!important;margin-bottom:60px}
    .tab1-list .tab1-list-items{width:100%}
    .digital-bootcamp{margin-top:0;padding:40px 0 60px}
    .section-industry .digital-bootcamp{margin-top:0}
    .section-industry .admission-box.industry-boxes.fadeInUp.owl-carousel{margin-bottom:0!important}
    .section-industry .sec-box{width:100%!important;margin:0 0 15px}
    .mysection-business ul.admission-box.research-box li{flex:auto;margin-right:15px;margin-top:15px}
    .mysection-business ul.admission-box.research-box li:nth-of-type(2n+2){margin-right:0}
    .mysection-business ul.admission-box.research-box li:nth-of-type(1),.mysection-business ul.admission-box.research-box li:nth-of-type(2){margin-top:0!important}
    .mysection-business ul.admission-box.research-box{display:flex;justify-content:space-between;flex-wrap:wrap;margin:0}
    .fellow-outr{margin-top:0}
    ul.fellow-box li p{width:100%;min-height:auto}
    .news-left{float:left;width:100%;padding:0}
    ul.news-box li .news-box-left+p span{line-height:1.5}
    .news-box-left+p{line-height:1.2}
    .news-right{width:100%}
    .news-links{width:100%;margin-bottom:30px}
    .section-managment{padding:50px 0}
    ul.admission-box li{padding:20px;width:100%}
    .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{width:95%;padding-left:10px;height:60px;min-height:auto;display:flex;align-items:center;justify-content:center}
    .process-tabs .tab-content{padding:25px 0 0}
    .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link.active:before{border-left:15px solid #FFEF62;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
    .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:after{border-left:15px solid #fff;border-top:30px solid transparent;border-bottom:30px solid transparent}
    .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:before{border-left:15px solid #E7EAF7;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
    .process-tabs ul.nav.nav-tabs a.nav-link p{text-align:center}
    .master-tabs .tab-content{margin-top:5px}
    .tab1-list .tab1-list-items{background:#fff;box-shadow:0 0 7px 2px rgba(0,0,0,0.05)}
    ul.bootcamp-box li p{width:calc(100% - 50px)!important;padding:0 0 0 20px !important;margin-top:0}
    .digital-bootcamp ul.bootcamp-box{display:flex;margin:20px 0 0;padding:0!important;border-bottom:0;flex-wrap:wrap}
    .digital-bootcamp ul.bootcamp-box li{width:100%;margin:0 0 20px;padding:20px;min-height:90px;display:flex;align-items:center}
    ul.bootcamp-box li img{padding:0;padding-bottom:0;float:left;height:40px}
    .slider-left{margin-bottom:0}
    .startup-block ul.bootcamp-box li{width:calc(50% - 8px);padding:15px 20px;margin-right:15px;display:flex;min-height:100px;align-items:center}
    .startup-block ul.bootcamp-box li:nth-of-type(2n+2){margin-right:0}
    .startup-block ul.bootcamp-box li:last-of-type{margin-bottom:0}
    .container{max-width:95%!important}
    .slider-left{width:100%;margin-bottom:0}
    .section-industry .slider-left{margin-bottom:0}
    .footer-outr{width:100%;margin-bottom:0!important;margin-top:40px!important}
    footer.footer-main .col-md-4{border:none;border:none;margin-bottom:40px;width:100%}
    footer.footer-main .col-md-4:last-of-type{margin-bottom:0}
    footer ul,footer img{padding-left:0!important}
    .footer-bar ul{margin:0!important}
    .section{padding-top:0}
    ul.student-clubOutr li img{width:22px}
    .home-banner{margin:130px 0 50px}
    .home-right{width:100%;min-height:auto;text-align:center}
    .new-flex-box{display:inline-block;margin:50px 0 0}
    .left-side-box{width:100%!important;padding:0}
    .right-side-box{width:100%;padding-left:20px}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{width:100%;margin-right:0;margin-bottom:5px!important;flex:auto}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{min-height:70px!important;padding:0!important;display:flex;align-items:center;text-align:center;width:100%;margin-right:0!important;padding:10px 15px!important}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:80px!important;text-align:center}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{float:left;margin-top:0;width:calc(100% - 50px)!important;text-align:left}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active::before{border:0!important;border-left:5px solid #F12A2A!important;right:inherit!important;left:0!important;height:100%;border-radius:3px 0 0 3px}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active img{transform:scale(1);float:left;margin-top:0;margin-right:15px}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link img{transform:scale(1);float:left;margin-top:0;margin-right:15px;padding:0!important;height:30px}
    .digital-bootcamp .process-tabs .tab-content{top:-55px;padding:0;min-height:auto;box-shadow:none}
    .section-industry .digital-bootcamp .process-tabs .tab-content{top:0;min-height:auto;padding:0;box-shadow:none}
    .text-highlight{line-height:1.4}
    ul.student-clubOutr li{width:100%}
    .intelligence-content,.intelligence .heading{width:100%!important}
    .intelligence .heading{margin-bottom:10px}
    .intelligence-content{padding-left:25px}
    .classroom-slideOutr{margin-bottom:50px;padding-bottom:50px;margin-top:0;display:flex;flex-direction:column}
    .section-news .news-left ul.news-box li{width:100%;float:left;padding:0;min-height:unset;margin-right:15px;margin-bottom:20px}
    .section-news .news-left ul.news-box li:nth-of-type(2n+2){margin-right:0}
    .section-news .news-left ul.news-box li:nth-last-child(2),.section-news .news-left ul.news-box li:last-of-type{margin-bottom:0}
    .news-box-left+p{min-height:auto}
    ul.bootcamp-box.bootcamp-box{margin-bottom:0;padding-bottom:0}
    .usp-list{padding:15px 15px 45px}
    ul.usp-list-text li{margin-bottom:5px}
    .busHeading.mb10{margin-bottom:0!important}
    .busHeading.mb20{margin-bottom:10px!important}
    .busHeading{font:27px/31px oswald-Bold}

    }
 @media (min-width: 460px) and (max-width: 639px) {
    .corp-cont h5{font-size:15px}
    .corp-cont p{font-size:13px}
    }
@media (min-width: 642px) and (max-width: 767px) {
    .digital-bootcamp ul.bootcamp-box li{width:calc(50% - 20px);margin:0 20px 20px 0;padding:20px;min-height:90px}
    .container{max-width:95%!important}
    .slider-left{width:100%;margin-bottom:0}
    .footer-outr{width:100%}
    footer.footer-main .col-md-4{border:none;margin-bottom:40px;width:100%}
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .section-1{background-position:right 23%;background-size:86%}
    .section-urban{background-position:0 10%}
}

@media(min-width:821px) {
  
    .digital-bootcamp .process-tabs.tech-boot-new .nav-tabs{display:flex}
    .digital-bootcamp .process-tabs.tech-boot-new .card{border:none}
    .digital-bootcamp .process-tabs.tech-boot-new .card .card-header{display:none}
    .digital-bootcamp .process-tabs.tech-boot-new .card .collapse{display:block}
}
@media(max-width:821px) {
    .primary-nav.for-mobile{display: block;}
    .primary-nav.for-desktop{display: none;}
    .align-in-row{
        flex-wrap: wrap;
    }

    .right-ico-box{
        margin-top: 30px;
    }
    nav.primary-nav-2 ul li a.active {
       
        border-bottom: 0px solid;
    }
    /* .left-border-sqaure-box{
        margin-bottom: 30px;
    } */

    .left-sqaure-box{
        margin-top: 30px;
    }

    .long-ico-box{
        margin-top: 30px;
    }



    body,html{overflow-x:hidden}
    .digital-bootcamp .process-tabs.tech-boot-new .tab-content>.tab-pane{display:block;opacity:1}
    .digital-bootcamp .process-tabs.tech-boot-new .card-header{border:0;padding:0;width:100%;margin-right:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px}
    .digital-bootcamp .process-tabs.tech-boot-new .card{border:0;background:transparent}
    a.menu-mobile-chain.collapsed{box-shadow:none}
    a.menu-mobile-chain{position:relative;opacity:1;box-shadow:0 1px 5px 1px rgba(0,0,0,0.05)}
    a.menu-mobile-chain:before{position:absolute;content:'';border:0!important;border-left:5px solid #F12A2A!important;right:inherit!important;left:0!important;height:100%;border-radius:3px 0 0 3px;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
    a.menu-mobile-chain.collapsed:before{display:none}
    .digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain{background:#fff;padding:10px 15px;min-height:70px;display:flex;cursor:pointer;align-items:center;border:1px solid #efefef!important}
    .digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain img{height:30px;margin-right:20px}
    .digital-bootcamp .process-tabs.tech-boot-new a.menu-mobile-chain p{font-family:'nunitosans-Bold';color:#F12A2A;text-transform:uppercase;font-size:13px}
    .digital-bootcamp .process-tabs.tech-boot-new .card.tab-pane{margin-bottom:10px!important}
    .digital-bootcamp .process-tabs.tech-boot-new .card.tab-pane:last-of-type{margin-bottom:0!important}
    .digital-bootcamp .process-tabs.tech-boot-new .tab-content{background:transparent}
    .digital-bootcamp .process-tabs.tech-boot-new .card-body{border:1px solid #f2f2f2;border-top:0;background:#fff;width:100%}
    ul.fellow-box li{width:50%;margin-bottom:15px;padding-right:20px}
    .urban-outr.campusbg{min-height:260px!important;background-position:top}
    .classroom-slideOutr ul.bootcamp-box.bootcamp-box li{width:45%}
}

@media (max-width:1199px) {.section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li{width: 18%;margin: 0 22px 10px 0;min-height: 217px} .c-2021-list-txt p {font: 13px/18px nunitosans;}
}
@media (max-width: 1024px) {

    .align-space-between{
        flex-wrap: wrap;
    }

    /* .left-ico-section {
        margin-bottom: 20px;
    } */


    .pl350 {
   padding-left: 200px!important;
    }
    .pt90{
        padding-top: 50px;
    }
    header.header-main .cc-container a.logo{margin-top:-30px}
    .slider-for-company.collaborative-section{height:100%;margin-top:0}
    .colm-class-outer>div:nth-of-type(1),.colm-class-outer>div:nth-of-type(2),.colm-class-outer>div:nth-of-type(3){margin-top:20px}
    .news-links .news-links-text .newslink-time span{width:100%!important}
    body::-webkit-scrollbar{width:5px}
    .classroom-slideOutr.no-border.corporate-field{padding-top:60px}
    .left-side-box.shadow-left{width:210px;padding:0 15px 0 0}
    .left-side-box.shadow-left+.right-side-box.d-flex{width:calc(100% - 210px);padding-left:15px}
    .classroom-slideOutr.no-border.corporate-field.mt80{margin-top:0!important}
    .section-unique-industry.padd100 .classroom-slideOutr.no-border.corporate-field.pt-90{padding-top:50px}
    .padd100{padding:60px 0!important}
    .pb70{padding-bottom:40px!important}
    .digital-bootcamp{padding:50px 0}
    .pb60{padding-bottom:30px!important}
    .section{padding-top:60px}
    .view-more-outer{margin:40px 0 0}
    .pb20{padding-bottom:15px!important}
    .mb20,.mrbtm20{margin-bottom:15px!important}
    .smallheading{margin-bottom:15px}
    .mt80{margin-top:40px!important}
    .admission-box.industry-boxes.fadeInUp.owl-carousel{margin-top:0;margin-bottom:0}
    .footer-outr{margin-top:60px!important;margin-bottom:20px!important}
    .new-flex-box{margin:60px 0 0}
    .urban-outr{margin-bottom:55px}
    .section-urban .boldheading-meadium{margin-bottom:15px}
    .bodytext{margin-bottom:15px}
    .boldheading-meadium{margin-bottom:15px}
    .master-tabs .tab-content{margin-top:20px}
    .section-news.padd100.pb60{padding-bottom:60px!important}
    .news-box-left+p{min-height:auto}
    .target-outr ul.news-box li a{display:flex;align-items:center}
    .admission-box li span{min-height:auto}
    .urban-outr.campusbg{min-height:300px!important;background-position:top;margin-bottom:60px}
    .classroom-slideOutr.no-border.corporate-field{padding-top:60px}
}

@media (min-width: 768px) and (max-width: 1024px) {
    ul.mang-box li label{font-size:24px}
    ul.student-clubOutr li p{font:15px/19px nunitosans}
    ul.student-clubOutr li figure{width:25px;min-height:25px;margin:0 7px 0 0}
    ul.student-clubOutr li figure img{max-width:75%}
    .home-right{font-size:32px}
    .home-left{font-size:32px;text-align:left}
    ul.mang-box li p{font-size:24px}
    .big-boldheading{font-size:80px;line-height:91px}
    
    .master-tabs ul.nav.nav-tabs a.nav-link{font-size:18px}
    .sec-box label,.smallheading{font-size:16px}
    ul.news-box li .news-box-left+p span{font-size:13px}
    .news-box-left p{font-size:16px;min-height:auto}
    .news-box-left span{font-size:12px}
    .news-box-left+p{font-size:16px}
    footer.footer-main li,footer.footer-main li a{font-size:14px!important}
    .digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p{font-size:12px}
    .master-tabs{top:-20px}
    .master-tabs ul.nav.nav-tabs a.nav-link{padding:8px 20px}
    .master-tabs ul.nav.nav-tabs{min-width:auto}
    .master-tabs ul.nav.nav-tabs li.nav-item{width:auto}
}



@media (min-width: 860px) and (max-width: 957px) {
ul#muif-section.bootcamp-box.bootcamp-box li{width:100%;margin-bottom:0}
ul#muif-section.bootcamp-box.bootcamp-box{display:flex;flex-wrap:nowrap;height:100%}
}

@media (min-width: 769px) and (max-width: 861px) {
ul#muif-section.bootcamp-box.bootcamp-box{flex-wrap:wrap;justify-content:space-between}
ul#muif-section.bootcamp-box.bootcamp-box li{width:49%;margin:0 0 15px;min-height:auto}
ul#muif-section.bootcamp-box.bootcamp-box li:nth-of-type(2n+2){float:right}
}
@media (max-width:992px) {


  
.full-table {
    overflow: auto;
}


    .CoursePG ul li {
        width: 50%;
        padding-right: 4px;
        margin-bottom: 20px;
    }


    ul.Concen-CourseOuter li {
        width: 33.33%;
        margin-top: 20px;
        padding-right: 20px;
    }

    .research-ip ul.Concen-CourseOuter li{
        margin-top: 0px;
        padding-right: 0px;
    }

    .two-card-section li {
        width: 44%;
        margin-right: 15px;
    }
    .two-card-section li  .long-ico-box {
        width: 100%;
    }
    .two-card-section li .long-ico-box img{
        width: 100%;
    }

    .heading-light:after {
        content: "";
        width: 90px;
    }

    .smac-shack .align-in-row{
        justify-content: center;
    }
  
         .pl350 {
            padding-left: 120px!important;
             }

    .technology-bootcamp-courses .icon-section span  {
        padding-left: 12px;
        font: 11px/15px 'nunitosans-Bold'!important;
    }
     .core-base-section .academic-iconOuter .academic-icon-box p{
        font: 14px/17px 'nunito_sanssemibold';
     }
     
    .mentorProgram-outer .mentorPorgraminfo {
        height: 150px;
    }

    .mentorProgram-outer .mentorPorgraminfo h6 {
        font: 13px/14px 'nunitosans-Bold';
     }
     .mentorProgram-outer .mentorPorgraminfo span {
         font: 11px/13px 'nunitosans';}
.c-2021-list-txt{justify-content:flex-start}
.c-2021-list-txt p{min-height:35px}
.c-2021-list-txt>div:nth-last-of-type(3),.c-2021-list-txt>div:nth-last-of-type(4){padding-top:25px}
/* .c-2021-list-txt > div:nth-last-of-type(2) p:last-child,.c-2021-list-txt > div:nth-last-of-type(1) p:last-child {margin-bottom: 0; min-height: auto;} */
.colm-class-outer>.row>div:nth-of-type(1) .slider-for-company.collaborative-section figure,.colm-class-outer>.row>div:nth-of-type(2) .slider-for-company.collaborative-section figure,.colm-class-outer>.row>div:nth-of-type(3) .slider-for-company.collaborative-section figure{margin-top:0}
a.watch-now-btn,a.watch-now-btn:link,a.watch-now-btn:visited{padding:11px 40px 9px 10px}
a.watch-now-btn:after{right:10px}
.colm-class-outer{display:flex}
}
@media (max-width:900px) {
.home-right{width:calc(100% - 420px)}
.swiper-video-outer{width:400px}
.large-heading {
    font: 60px/60px 'barlow_condensedbold';
}

}
@media (min-width: 992px) { .c-2021-list-txt .col-lg-2{flex: 0 0 20%;max-width: 20%}}
@media(max-width:821px) {
  .techno-bootcamp  .course-content-outer {flex-wrap: wrap;}
  .techno-bootcamp .class-no {width: 100%;}
    .core-base-section .academic-iconOuter .academic-icon-box {width: 49%;  }
header.header-main .cc-container a.logo {margin-top: 0; }
.c-2021-list-txt {justify-content: flex-start;}
/* .c-2021-list-txt > div:nth-of-type(1),.c-2021-list-txt > div:nth-of-type(2),.c-2021-list-txt > div:nth-of-type(3) { margin-bottom: 30px; } */
.c-2021-list-txt p{font:13px/15px nunitosans}
.mt100{margin-top:60px}
.colm-5{display:inline-block;width:32.5%}
.colm-class-outer{display:inline-block}
a.usp-list .learn-more{bottom:16px}
a.event-list,a.event-list:link,a.event-list:visited,.event-list{max-width:48%;margin:30px 4% 0 0}
a.event-list:nth-of-type(1),a.event-list:nth-of-type(2),a.event-list:nth-of-type(3),.event-list:nth-of-type(1),.event-list:nth-of-type(2),.event-list:nth-of-type(3){margin-top:0}
a.event-list:nth-of-type(3n),.event-list:nth-of-type(3n){margin-right:4%}
a.event-list:nth-of-type(3),.event-list:nth-of-type(3){margin-top:30px}
a.event-list:nth-of-type(2n+2),.event-list:nth-of-type(2n+2){margin-right:0}
.main-section.topBarActive .section-what.padd100.concent-section .concentratebg.mt115{margin-top:150px!important}
.main-section.topBarActive .concentratebg.aboutbg{margin-top:150px!important}
.main-section.topBarActive .section-Bmenu,.main-section.topBarActive .section.careers-sectionss{margin-top:109px}
.main-section.topBarActive .section-what.concent-section{margin-top:148px}
section.main-section.sticky nav.primary-nav{opacity:1!important;pointer-events:inherit!important}
.master-tabs .tab-content{margin-top:5px}
header.header-main .cc-container{min-height:inherit;justify-content:space-between}
header.header-main.homeheader{min-height:70px!important}
.noImgMasterOuter .leftoutr:before{display:none}
.shadow-main.new-flex-box{margin:10px 0 0}
.left-side-box.shadow-left+.right-side-box.d-flex{width:100%;padding-left:15px}
a.floatDownloadBrochure br{display:none}
.header-main.homeheader.lighttheme a.floatDownloadBrochure{color:#F12A2A!important}
.header-main.lighttheme nav.primary-nav-2 ul li a.apply-btn{padding:7px 16px 6px;max-width:130px;padding:7px 16px 6px;max-width:130px}
form.DownloadBrochureForm,.float-enquire-form{padding:40px 20px 20px}
.DownloadBrochureForm.masterFormOur,.float-enquire-form.masterFormOur,.float-meeting-form.masterFormOur{width:290px;padding:20px}
form.DownloadBrochureForm.masterForm .form-group,form.float-enquire-form.masterForm .form-group{margin-bottom:10px}
.downloadBrochureBtnform{padding:12px}
nav.primary-nav-2 ul{display:block}
a.floatDownloadBrochure:hover,a.floatDownloadBrochure:focus{text-decoration:none;opacity:1}
.home-right{width:calc(100% - 340px)}
.swiper-video-outer{width:330px}
.lighttheme nav.primary-nav ul li a,.lighttheme nav.primary-nav-2 ul li a,section.main-section.sticky nav.primary-nav-2 ul li a,nav.primary-nav-2 ul li a{color:#101010;font-size:14px!important;line-height:16px!important;z-index:1}
section.main-section.sticky nav.primary-nav{opacity:1;pointer-events:inherit}
section.main-section.sticky nav.primary-nav-2 ul li a.apply-btn,.header-main nav.primary-nav-2 ul li a.apply-btn{padding:6px 14px 5px;margin:5px 0 6px 20px}
a.floatDownloadBrochure,a.floatDownloadBrochure:link,a.floatDownloadBrochure:visited,.lighttheme nav.primary-nav ul li a.floatDownloadBrochure,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure,section.main-section.sticky nav.primary-nav-2 ul li a.floatDownloadBrochure,nav.primary-nav-2 ul li a.floatDownloadBrochure{width:100%;color:#101010;text-align:left}
a.floatDownloadBrochure span,.lighttheme nav.primary-nav ul li a.floatDownloadBrochure span,.lighttheme nav.primary-nav-2 ul li a.floatDownloadBrochure span,section.main-section.sticky nav.primary-nav-2 ul li a.floatDownloadBrochure span,nav.primary-nav-2 ul li a.floatDownloadBrochure span{background:#FFEF62;color:#101010;float:left;padding:3px;font-weight:600}
nav.primary-nav ul li,nav.primary-nav-2 ul li,section.main-section.sticky nav.primary-nav-2 ul li{padding:0;margin:0;width:100%;float:left}
section.main-section nav.primary-nav-2{padding-top:0;top:0}
section.main-section.sticky nav.primary-nav-2{padding-top:0;top:0}
.secondary-menu-nav,.secMenuDropdown{display:inline-block;width:100%;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;min-height:50px;height:50px;position:absolute;-webkit-overflow-scrolling:touch; left: 0;}
.secMenuDropdown{overflow:inherit}
a.floatDownloadBrochure.DownloadBrochureBtn{width:auto;color:#fff;text-align:center}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item{width:100%;margin-right:0;margin-bottom:5px!important;flex:auto}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{min-height:70px!important;padding:0!important;display:flex;align-items:center;text-align:center;width:100%;margin-right:0!important;padding:10px 15px!important}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active{min-height:80px!important;text-align:center}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{float:left;margin-top:0;width:calc(100% - 50px)!important;text-align:left}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active::before{border:0!important;border-left:5px solid #F12A2A!important;right:inherit!important;left:0!important;height:100%;border-radius:3px 0 0 3px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active img{transform:scale(1);float:left;margin-top:0;margin-right:15px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link img{transform:scale(1);float:left;margin-top:0;margin-right:15px;padding:0!important;height:30px}
.digital-bootcamp .process-tabs .tab-content{top:-55px;padding:0;min-height:auto;box-shadow:none}
#scroll-industry h3.boldheading.text-left.mb50{margin-bottom:0}
.section-industry .digital-bootcamp .process-tabs .tab-content,#industry .digital-bootcamp .process-tabs .tab-content{top:0;min-height:auto;padding:0;box-shadow:none}
#scroll-industry .digital-bootcamp .process-tabs .tab-content{top:0}
}
@media (max-width:768px) {
    ul.Concen-CourseOuter li {width: 50%;}
    .CoursePG .right-border-content {
        border-right:0;
        width: 100%;
        margin-bottom: 20px;
    }
    .CoursePG .right-border-content br{
      display: none;
    }
    .CoursePG ul {
       width: 100%;
        padding-left: 0px;
       
    }
    .CoursePG ul li {
        width: calc(50% - 15px);
        padding-right: 4px;
       box-shadow: 5px 5px 20px rgb(0 0 0 / 6%);
        border-radius: 10px;
        margin-bottom: 20px;
        background: #fff;
        margin-right: 15px;
        padding:15px;
    }
    .four-card-section li {
        width: 50%;
        padding-right: 15px;
        margin-bottom: 20px;
    }
    
    
.heading-light:after {
    content: "";
    width: 40px;
    left: -53px;

}


 .icon-section span {  font: 11px/14px 'nunitosans-Bold'!important;}
    .academic-iconOuter .academic-icon-box { width: 49%;}
    .academic-iconOuter {  flex-wrap: wrap;}
    .logo-sec figure { width: 25%; }
    .mentorProgramOuter .class-no:nth-child(2) .mentorPorgramHeader.pl25.cover-outer {
        display: none;
    }
    .mentorProgramOuter .class-no:nth-child(2) .mentorPorgraminfo-outer {
       margin-top: 25px;
    }
    .mentorProgramOuter .class-no {
        width: 100%;
    }
    .mentorProgram-outer .mentorPorgraminfo {
        height: auto;
    }
    .mentorProgramOuter .course-content-outer{flex-wrap:wrap}
    .mentorPorgraminfo-outer.border-right.pr25, .mentorPorgraminfo-outer.pl25, .mentorPorgramHeader.pl25 {
    padding: 0;
        
    border-right: 0!important;
    }
    /* .c-2021-list-txt > div:nth-of-type(1),.c-2021-list-txt > div:nth-of-type(2),.c-2021-list-txt > div:nth-of-type(3) { margin-bottom: 25px; } */
    a.event-list,a.event-list:link,a.event-list:visited,.event-list{padding:15px}
    .watch-left-content span{font:14px/21px nunitosans}
    .watch-outer{margin-top:25px}
    .watch-left,.watch-right,.watch-center{width:100%;margin:0}
    .watch-center{margin:10px 0}
    .watch-master-outer{flex-wrap:wrap}
    a.watch-now-btn,a.watch-now-btn:link,a.watch-now-btn:visited{float:left}
    #carouselWatch .carousel-indicators{bottom:-4px}

    .sidebar-outer{right:0;top:inherit;z-index:10;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);bottom:0;left:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);-moz-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0);-ms-box-shadow:0 0 0 rgba(0,0,0,0);-o-box-shadow:0 0 0 rgba(0,0,0,0)}
    ul.sidebar-list{max-width:inherit;max-height:inherit;position:relative;padding:0 5px;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);box-shadow:0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 0 10px rgba(0,0,0,0.1);-o-box-shadow:0 0 10px rgba(0,0,0,0.1);width:100%;display:flex;background:#fff;justify-content:space-between}
    ul.sidebar-list li{width:100%;display:flex;flex-direction:column;align-items:center;padding:5px;background:#fff}
    ul.sidebar-list li a,ul.sidebar-list li a:link,ul.sidebar-list li a:visited{position:relative;display:block;float:left;width:100%;right:inherit;left:inherit;height:auto;padding:0;margin-top:5px;order:2;text-align:center;white-space:pre-wrap;font:10px/12px spartan_mbsemibold;letter-spacing:.3px}
    ul.sidebar-list li:hover a{right:inherit;bottom:inherit;left:inherit;border-left:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);-moz-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0);-moz-box-shadow:0 0 0 rgba(0,0,0,0);-ms-box-shadow:0 0 0 rgba(0,0,0,0)}
    ul.sidebar-list li figure{width:26px;height:20px;order:1}
    ul.sidebar-list li figure span{font-size:20px}
    ul.sidebar-list li figure img{width:53%}
    .section-unique-industry .corporate-field ul.bootcamp-box.bootcamp-box li{width:100%;min-height:0;padding:20px;display:flex;align-items:center}
    a.DownloadBrochureBtn,a.DownloadBrochureBtn:link,a.DownloadBrochureBtn:visited,.downloadBrochureBtnform{min-width:200px;font:14px/16px nunitosans-Bold}
    div#__eechatIcon{bottom:70px!important;right:6px}
}
@media(max-width:767px) {

    .three-masters .three-masters-detail {
        width: 46%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .three-masters {
      justify-content: unset;
        
    }



    .research-ip ul.Concen-CourseOuter li {
        width: 45%;
        margin-right: 20px;
    }


    .career-left {
        width: 98%;
        float: left;
        margin-right: 30px;
    }

    .career-right {
        width: 96%;
        float: right;
    }

    .blockchain .three-square-box li {
        width: 50%;
    }

    .masters-long-box {
        width: 100%;
    }
    .large-heading {
        font: 44px/52px 'barlow_condensedbold';
    }
    .pl350{
        padding-left: 0px!important;
    }
    .heading-light:after {
        content: "";
        display: none!important;
    }

    .container {
        max-width: 80%!important;
    }

   

    .mb25{margin-bottom: 12px!important;}

.student-video-sectoin  .enroll-outr a.apply-btn { float: none; }
.student-video-sectoin  .enroll-outr { text-align: center;}
.colm-class-outer>.row>div .slider-for-company.collaborative-section figure{margin-top:25px}
.c-2021-list-txt>div:nth-last-of-type(3),.c-2021-list-txt>div:nth-last-of-type(4){padding-top:0}
.c-2021-list-txt p:last-child{margin-bottom:10px;min-height:35px}
.c-2021-list-txt>div:nth-last-of-type(2) p:last-child,.c-2021-list-txt>div:nth-last-of-type(1) p:last-child{margin-bottom:0;min-height:auto}
.emp-hide-mob{display:none}
.emp-hide-web{display:block}
.colm-class-outer>.row>div:nth-of-type(2n+2){padding-left:0}
.c-2021-list-txt>div:nth-last-of-type(3){padding-top:25px}
.colm-class-outer>.row>div:nth-of-type(3) .slider-for-company.collaborative-section figure{margin-top:20px}
.feesDetailSection .slider-for-company.collaborative-section{margin-top:20px}
    /* .slider-for-company.collaborative-section{margin-top:20px} */
    /* .slider-for-company.collaborative-section{height:100%;margin-top:0;} */
    /* .colm-class-outer div:nth-of-type(1),.colm-class-outer div:nth-of-type(2) {margin-top:20px; }
.colm-class-outer div:nth-of-type(3) {margin-top:0; }

.colm-class-outer div .slider-for-company.collaborative-section { margin-bottom:20px; }
.colm-class-outer div:nth-last-of-type(2) .slider-for-company.collaborative-section,
.colm-class-outer div:nth-last-of-type(1) .slider-for-company.collaborative-section { margin-bottom:0; } */
.event-topBar,.event-topBar a,.event-topBar a:link,.event-topBar a:visited{font:12px/15px nunitosans}
.bodytext{font-size:15px}
.hamburger a i.material-icons{font-size:34px;color:#101010}
.hamburger-close a i.material-icons{font-size:34px;color:#101010}
ul.mang-box li p{font-size:22px}
.big-boldheading{font-size:42px;line-height:45px}
.lighheading {
    font: 32px/36px 'oswaldextralight';
    margin-bottom: 20px;
 }
.master-tabs ul.nav.nav-tabs a.nav-link{font-size:14px;padding:5px;line-height:17px}
.boldheading-meadium{font-size:24px;line-height:1.2;margin-bottom:15px}
.sec-box label{font-size:15px}
.smallheading{font-size:16px!important;letter-spacing:0;line-height:1.4;margin-bottom:15px}
.process-tabs ul.nav.nav-tabs li.nav-item a.nav-link:before{border-left:15px solid #E7EAF7;border-top:30px solid transparent;border-bottom:30px solid transparent;right:-15px}
.process-tabs ul.nav.nav-tabs a.nav-link p{font-size:11px;text-align:center}
ul.student-clubOutr li p{font:15px/19px nunitosans}
ul.student-clubOutr li figure{width:25px;min-height:25px;margin:0 7px 0 0}
ul.student-clubOutr li figure img{max-width:75%}
.home-banner{flex-wrap:wrap}
.home-right{width:100%;min-height:auto;text-align:center}
.home-left{font-size:29px;line-height:1.3}
.new-flex-box{display:inline-block;margin:50px 0 0}
.left-side-box{width:100%!important;padding:0}
.right-side-box{width:100%;padding-left:20px}
.digital-bootcamp .process-tabs ul.nav.nav-tabs li.nav-item a.nav-link{font-size:0;min-height:70px!important;padding:0!important;display:flex;align-items:center;text-align:center;width:100%;margin-right:0!important;padding:10px 15px!important}
.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link.active p,.digital-bootcamp .process-tabs ul.nav.nav-tabs a.nav-link p{font-size:13px;float:left;margin-top:0;width:calc(100% - 50px)!important;text-align:left}
.news-links .news-links-text p{font-size:17px;min-height:auto}
ul.intelligence-list li label{font-size:16px;line-height:1.3}
.view-more-outer{margin:45px 0 0}
.pb20{padding-bottom:15px!important}
.mb20,.mrbtm20{margin-bottom:15px!important}
.pb70{padding-bottom:40px!important}
.mt80{margin-top:40px!important}
ul.fellow-box li:nth-of-type(2n+2){padding-right:0}
.section{padding-top:60px}
.footer-input-outr{width:100%}
ul.fellow-box li:last-child,ul.fellow-box li:nth-last-child(2){padding-bottom:0!important}
.admission-box.industry-boxes.fadeInUp.owl-carousel{margin-top:0}
.admission-box li p{min-height:auto;margin-bottom:5px}
ul.patner li{padding-bottom:10px}
.hamburger{height:32px}
a.view-more,a.view-more:link,a.view-more:visited{padding:11px 45px 10px 25px}
a.view-more i{right:18px}
a.view-more:hover i{right:13px}
a.view-more.view-less,a.view-more.view-less:link,a.view-more.view-less:visited{padding:11px 25px 10px 45px}
a.view-more.view-less i{left:18px}
a.view-more.view-less:hover i{left:13px}
form.DownloadBrochureForm{padding:20px;width:290px}
form.DownloadBrochureForm .closeBrochure,.float-enquire-form .close-enquire-Form{right:10px;top:10px;font-size:18px}
.noImgMasterOuter{padding-top:40px}
.usp-section{flex-wrap:wrap}
.usp-list{margin:0 0 15px}
a.usp-list .learn-more{bottom:13px;left:15px}
.shadow-main.new-flex-box .right-side-box.d-flex{margin-top:10px;float:left;margin-top:10px;float:left}
.swiper-video-outer{width:100%;margin:30px 0 0}
.process-tabs .tab-content ul.process-tabs-list li,ul.process-tabs-list li,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li,.process-tabs .tab-content ul.process-tabs-list li i.material-icons,.digital-bootcamp .process-tabs .tab-content ul.process-tabs-list li i.material-icons,ul.process-tabs-list li i.material-icons{font-size:15px}
}
@media (max-width:640px) {
.academic-iconOuter .academic-icon-box { width: 100%;}
.pswp__button--arrow--left{left:0!important}
.pswp__button--arrow--right{right:0!important}
a.event-list,a.event-list:link,a.event-list:visited,.event-list{max-width:100%;margin:30px 0 0}
a.event-list:nth-of-type(3n),.event-list:nth-of-type(3n){margin-right:0}
a.event-list:nth-of-type(2),a.event-list:nth-of-type(3),.event-list:nth-of-type(2),.event-list:nth-of-type(3){margin-top:30px}
a.event-list:nth-of-type(1),.event-list:nth-of-type(1){margin-top:0}
.corp-img img{height:200px}
.corp-cont p{font-size:14px}
.corp-cont h5{font-size:15px}
.tab1-list .tab1-list-items,.tab1-list .tab1-list-items:nth-of-type(1),.mysection-business ul.admission-box.research-box li:nth-of-type(2){margin-top:15px!important}
ul.bootcamp-box.bootcamp-box li{margin:0 0 15px}
.digital-bootcamp{padding:50px 0 60px}
.mysection-business ul.admission-box.research-box li{width:100%;margin-right:0}
.startup-block ul.bootcamp-box li{width:100%;margin-right:0;min-height:inherit}
.section-news .news-left ul.news-box li:nth-last-child(2){margin-bottom:20px}
.startup-block ul.bootcamp-box li p br{display:none}
ul.fellow-box li,ul.fellow-box li:nth-last-child(3),ul.fellow-box li:nth-last-child(2){width:100%;margin-bottom:15px;padding-right:0;min-height:auto}
header.header-main .cc-container a.logo{margin-left:10px}
.hamburger{margin-right:10px}
.tab1-list .tab1-list-items .leftoutr p{min-height:inherit}
.classroom-slideOutr ul.bootcamp-box.bootcamp-box li{width:100%}
.classroom-slideOutr ul.research-box li{min-height:250px}
.urban-outr.campusbg{min-height:210px!important;background-position:top}
.left-side-box.shadow-left+.right-side-box.d-flex{width:100%;padding-left:15px}
.shadow-icon-outer{flex-wrap:wrap}
.shadow-icon-outer figure{margin:0;width:50%;text-align:center;margin-bottom:20px;text-align:center}
.mysection-business ul.admission-box.research-box.businessBox li a{margin-top:0;display:flex;flex-wrap:wrap;justify-content:space-between}
.mysection-business ul.admission-box.research-box.businessBox li span.icons-part{width:46px;height:46px;flex-shrink:0;margin-bottom:10px}
.mysection-business ul.admission-box.research-box.businessBox li span.icons-part img{max-width:70%}
.mysection-business ul.research-box li p{width:calc(100% - 60px);display:flex;align-items:center;margin-bottom:10px}
.mysection-business ul.admission-box.research-box.businessBox li{padding:15px}
ul.mang-box li:nth-last-of-type(2){margin-bottom:0}
}
@media(max-width:600px) { 
    .core-base-section .academic-iconOuter .academic-icon-box {width: 100%;  }
    .colm-5 {width: 49%; } .c-2021-list-txt p { white-space: unset;}

    /* .c-2021-list-txt > div:nth-of-type(1), .c-2021-list-txt > div:nth-of-type(2), .c-2021-list-txt > div:nth-of-type(3), .c-2021-list-txt > div:nth-of-type(4) {
margin-bottom: 25px;
} */
}

@media(max-width:575px){
    .three-masters .three-masters-detail {
        width: 60%;

    }

    .research-ip ul.Concen-CourseOuter li {
        width: 100%;
        margin-right: 20px;
    }

    .research-ip .left-sqaure-box {
        height: 200px;
    
    }

    footer .footer-items .list-items{
        width: 100%;
        margin-top: 40px;
    }
}


@media (min-width: 300px) and (max-width: 350px) {.urban-outr.campusbg { min-height: 210px !important; background-position: right top}}
@media(max-width:575px) {

    .four-box-with-border{
        width: 100%;
    }

    .four-box-with-border .four-box-no-space{
        width: 100%;
    }

    .long-box-career {
        width: 100%;
    }

    .header-section { min-height: 400px;   }
    .header-text br {
        display: none;
    }
    ul.Concen-CourseOuter li {
        width: 100%;
        margin-top: 30px;
    }
    .ico-section .ico-section-width{
        width: 100%;
    }
    .CoursePG ul li {
        width: 100%;   }
        .four-card-section li {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 20px;
        }
        .smac-shack ul.Concen-CourseOuter li {
            padding-right: 0px;
           
        }
        form.masterForm {
            width: 100%;
            float: left;
            max-width: 100%;
        }
    .row.footer-outr>div{padding:0} .shadow-icon-outer figure:nth-last-of-type(2){margin-bottom:25px;
  
}

.two-card-section li {
    width: 100%;
}
.large-heading {
    font: 40px/40px 'barlow_condensedbold';
}
.header-para-text {
    font: 16px/25px 'spartan_mbregular';
}

.three-card-section li {
    width: 100%;
}
}

@media (max-width:450px){
    .blockchain .three-square-box li {
        width: 100%;
    }
}
@media(max-width:400px) {
     
    .event-schedule ul{
        width: 100%;
    } 

    .event-schedule ul li{
     width: 100%;
     margin-top: 20px;
     text-align: center;
 
 }

    .large-heading {
        font: 35px/40px 'barlow_condensedbold';
    }
    
 .c-2021-list-txt .slider-for-company{padding-right:5px}
.topBarActive.main-section .section-what.padd100.concent-section .concentratebg.mt115{margin-top:110px!important}
.main-section.topBarActive .section-what.concent-section{margin-top:137px}
.event-topBar{padding:0 15px 0 10px}
.event-topBar span{right:3px}
.event-topBar,.event-topBar a,.event-topBar a:link,.event-topBar a:visited{font:10px/13px nunitosans}
.colm-5{width:100%;margin-bottom:20px}
 /* .colm-5:last-of-type { margin-bottom: 0; }.c-2021-list-txt p,.c-2021-list-txt p:last-child {min-height: auto;}
.c-2021-list-txt > div:nth-last-of-type(2) p:last-child { margin-bottom: 10px; }
.colm-class-outer .colm-5 { margin-bottom: 0; }.c-2021-list-txt .col-6 { max-width: 100% !important; flex: 0 0 100%; } */
}
